* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.content nav {
  position: sticky;
  top: 0px;
  background-color: #017c8e;
  width: 100px;
  height: 100vh;
  transition: all 1s ease-in-out;
}
@media screen and (max-width: 900px) {
  .content nav {
    width: 70px;
  }
}
@media screen and (max-width: 550px) {
  .content nav {
    width: 50px;
  }
}
.content nav ul {
  height: 100%;
}
.content nav ul li {
  position: absolute;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.content nav ul li figure {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content nav ul li figure.likeActive {
  top: 10px;
}
.content nav ul li figure.infoActive {
  top: 10px;
}
.content nav ul li figure img {
  height: 50px;
}
@media screen and (max-width: 900px) {
  .content nav ul li figure img {
    height: 38px;
  }
}
@media screen and (max-width: 550px) {
  .content nav ul li figure img {
    height: 35px;
  }
}
@media screen and (max-width: 550px) {
  .content nav ul li figure #imgMesagerie {
    height: 30px;
  }
}
.content nav #info {
  background-color: #017c8e;
  display: flex;
  flex-direction: column;
  height: 76%;
}
.content nav #info ul {
  width: 100%;
}
.content nav #info ul li {
  position: absolute;
  height: 11%;
}
.content nav #info ul li figure img {
  height: 45px;
}
@media screen and (max-width: 900px) {
  .content nav #info ul li figure img {
    height: 38px;
  }
}
@media screen and (max-width: 550px) {
  .content nav #info ul li figure img {
    height: 30px;
  }
}
@media screen and (max-width: 550px) {
  .content nav #info ul li figure #iconInfo {
    height: 25px;
  }
}
.content nav #info ul li:hover {
  background-color: #004b56;
}
.content nav #info ul #infoPerso {
  top: -11%;
}
.content nav #info ul #perso {
  top: 0%;
}
.content nav #info ul #historic {
  top: 11%;
}
.content nav #info ul #gestionBien {
  top: 22%;
}
.content nav #info ul #ajouterBien {
  top: 33%;
}
.content nav #info ul #gestionReservation {
  top: 44%;
}
.content nav #info.infoActive {
  bottom: 24%;
  height: 76%;
  width: 100%;
  cursor: default;
}
.content nav #info.likeActive {
  animation: info 2s forwards;
}
@keyframes info {
  10% {
    transform: translateX(-100px);
  }
  90% {
    bottom: 16%;
  }
  100% {
    transform: translateX(0%);
    bottom: 16%;
  }
}
.content nav #resevations {
  background: #4fb849;
  bottom: 8%;
}
.content nav #like {
  background: #ed1b24;
  bottom: 16%;
  transition: all 1s ease-in;
}
.content nav #like.likeActive {
  bottom: 24%;
  height: 76%;
  width: 100%;
  cursor: default;
}
.content nav #messagerie {
  background: #fbb019;
  bottom: 0;
}
.content nav #messagerie figure {
  margin-right: 9%;
}
.content nav #messagerie figure img {
  margin-top: 20%;
}
.content .logoDash {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 60px;
  cursor: pointer;
}
.content .logoDash img {
  height: 100%;
}
.content .contentPage {
  width: 1300px;
  margin: 0 auto;
  display: none;
}
@media screen and (max-width: 1500px) {
  .content .contentPage {
    width: 80%;
  }
}
.content .contentPage h1 {
  margin-top: 50px;
  color: #454545;
  font-size: 2.5em;
}
@media screen and (max-width: 700px) {
  .content .contentPage h1 {
    margin-top: 100px;
    font-size: 1.8em;
  }
}
.content .contentPage h2 {
  color: #454545;
  font-size: 2em;
}
@media screen and (max-width: 700px) {
  .content .contentPage h2 {
    margin-top: 30px;
    font-size: 1.5em;
  }
}
.content .contentPage .divBarreDeRecherche {
  height: 50px;
  margin: 50px 0;
}
@media screen and (max-width: 700px) {
  .content .contentPage .divBarreDeRecherche {
    height: 40px;
    margin: 30px 0;
  }
}
.content .contentPage .divBarreDeRecherche form {
  background-color: #017c8e;
  border-radius: 20px;
  height: 50px;
}
@media screen and (max-width: 700px) {
  .content .contentPage .divBarreDeRecherche form {
    height: 40px;
  }
}
.content .contentPage .divBarreDeRecherche form .search {
  float: left;
  height: 100%;
  background-color: #017c8e;
  border: #017c8e 3px solid;
  margin-left: 20px;
  width: 70%;
  color: #fff;
  font-size: 1.5em;
}
@media screen and (max-width: 700px) {
  .content .contentPage .divBarreDeRecherche form .search {
    font-size: 1.2em;
  }
}
.content .contentPage .divBarreDeRecherche form .search::-moz-placeholder {
  color: #e3dada;
}
.content .contentPage .divBarreDeRecherche form .search::placeholder {
  color: #e3dada;
}
.content .contentPage .divBarreDeRecherche form .search::-webkit-search-cancel-button {
  display: none;
}
.content .contentPage .divBarreDeRecherche form .search:focus {
  outline: none;
}
.content .contentPage .divBarreDeRecherche form .rechercher {
  float: right;
  background: url(../img/lupe.png) center center no-repeat;
  height: 50px;
  width: 50px;
  transition: all 0.1s ease-in;
  border: none;
  margin-right: 20px;
}
@media screen and (max-width: 700px) {
  .content .contentPage .divBarreDeRecherche form .rechercher {
    height: 40px;
    background-size: 25px;
  }
}
@media screen and (max-width: 400px) {
  .content .contentPage .divBarreDeRecherche form .rechercher {
    width: 30px;
  }
}
.content .contentPage .divBarreDeRecherche form .rechercher:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.content .contentPage .figureModifier {
  cursor: pointer;
}
.content .contentPage .figureModifier .imgModifier {
  transition: all 0.5s;
}
.content .contentPage .figureModifier .imgModifier.activeModifie {
  transform: rotate(-90deg);
}
.content .contentPage .change {
  font-size: 1.5em;
  background-color: #017c8e;
  border: #fff 3px solid;
  border-radius: 10px;
  color: #fff;
  padding: 5px;
  margin-left: 20px;
  height: 50%;
}
.content .contentPage .change::-moz-placeholder {
  color: #e3dada;
}
.content .contentPage .change::placeholder {
  color: #e3dada;
}
.content .contentPage .change:focus {
  outline: none;
}
@media screen and (max-width: 1140px) {
  .content .contentPage .change {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 1000px) {
  .content .contentPage .change {
    font-size: 1em;
  }
}
@media screen and (max-width: 950px) {
  .content .contentPage .change {
    height: 38%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .content .contentPage .change {
    height: 20%;
  }
}
.content .contentPage .card {
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 20px;
  position: relative;
  z-index: 100;
  transition: all 0.5s ease-in;
  margin-top: 50px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content .contentPage .card:first-child {
  margin-top: 120px;
}
.content .contentPage .card.activeModifie {
  transform: translateY(50px);
}
.content .contentPage .card .contentFixCard {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
.content .contentPage .card .contentFixCard div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}
.content .contentPage .card .contentFixCard div h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}
@media screen and (max-width: 500px) {
  .content .contentPage .card .contentFixCard div h3 {
    font-size: 1.2em;
  }
}
.content .contentPage .card .contentFixCard div p {
  color: #fff;
  font-size: 1.2em;
}
@media screen and (max-width: 500px) {
  .content .contentPage .card .contentFixCard div p {
    font-size: 1em;
  }
}
.content .contentPage .card .contentFixCard .figureModifier {
  height: 130px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .contentFixCard .figureModifier {
    align-items: flex-start;
  }
}
.content .contentPage .card .contentFixCard .figureModifier .imgModifier {
  height: 40%;
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .contentFixCard .figureModifier .imgModifier {
    height: 35%;
    margin-top: 15px;
  }
}
.content .contentPage .card .contentFixCardInfoPerso {
  background-color: #017c8e;
  height: 130px;
}
.content .contentPage .card .input {
  background-color: #017c8e;
  transform: translateY(-44px);
  transition: all 0.5s ease-in;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 90px;
  padding-right: 20px;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input {
    flex-direction: column;
    justify-content: center;
  }
}
.content .contentPage .card .input form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input form {
    flex-direction: column;
    justify-content: center;
  }
}
.content .contentPage .card .input .valider {
  background: url(../img/valider.png) center center no-repeat;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.1s ease-in;
}
.content .contentPage .card .input .valider:hover {
  cursor: pointer;
  background-color: #4fb849;
  transform: scale(1.1);
}
.content .contentPage .card .input .suprimer {
  background: url(../img/icon\ _trash_.png) center center no-repeat;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.1s ease-in;
}
.content .contentPage .card .input .suprimer:hover {
  cursor: pointer;
  background-color: #ed1b24;
  transform: scale(1.1);
}
.content .contentPage .card .input.activeInput {
  transform: translateY(0px);
  height: 90px;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input.activeInput {
    transform: translateY(-1px);
  }
}
@media screen and (max-width: 500px) {
  .content .contentPage .card .input.activeInput {
    height: 160px;
  }
}
.content .contentPage .card .input2ligne {
  transform: translateY(-250px);
  height: 129px;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input2ligne {
    height: 300px;
  }
}
.content .contentPage .card .input2ligne input {
  height: 25%;
  margin: 20px;
}
@media screen and (max-width: 870px) {
  .content .contentPage .card .input2ligne input {
    margin: 20px 10px;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input2ligne input {
    height: 13%;
    margin: 8px 20px;
  }
}
.content .contentPage .card .input2ligne.activeInput {
  height: 180px;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input2ligne.activeInput {
    height: 300px;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input2info {
    transform: translateY(-120px);
  }
}
.content .contentPage .card .inputGA {
  display: flex;
  padding-right: 0;
  height: 1780px;
}
@media screen and (max-width: 1200px) {
  .content .contentPage .card .inputGA {
    flex-direction: column;
    height: 3480px;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .inputGA {
    height: 2780px;
  }
}
@media screen and (max-width: 700px) {
  .content .contentPage .card .inputGA {
    height: 3180px;
  }
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .inputGA {
    height: 3750px;
  }
}
.content .contentPage .card .inputGA.activeInput {
  transform: translateY(0);
  height: 3180px;
  z-index: 10;
}
@media screen and (max-width: 1200px) {
  .content .contentPage .card .inputGA.activeInput {
    height: 3480px;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .inputGA.activeInput {
    height: 2780px;
    transform: translateY(50px);
  }
}
@media screen and (max-width: 700px) {
  .content .contentPage .card .inputGA.activeInput {
    height: 3180px;
    transform: translateY(200px);
  }
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .inputGA.activeInput {
    height: 3750px;
    transform: translateY(270px);
  }
}
.content .contentPage .card .inputGA .contentInput {
  width: 50%;
}
@media screen and (max-width: 1200px) {
  .content .contentPage .card .inputGA .contentInput {
    width: 100%;
  }
}
.content .contentPage .card .inputGA .contentInput .oneInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: #fff 5px solid;
  margin: 20px 60px;
  border-radius: 10px;
}
@media screen and (max-width: 1200px) {
  .content .contentPage .card .inputGA .contentInput .oneInfo {
    margin: 20px 40px;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .inputGA .contentInput .oneInfo {
    height: 180px;
  }
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .inputGA .contentInput .oneInfo {
    height: 280px;
  }
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .inputGA .contentInput .oneInfo {
    margin: 20px;
  }
}
.content .contentPage .card .inputGA .contentInput .infoLogement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  padding-top: 20px;
}
.content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis {
  display: flex;
  margin: 10px auto;
  width: 90%;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis {
    height: 75%;
  }
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis {
    height: 25%;
  }
}
.content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .hInputGestion h3 {
  color: #fff;
  line-height: 40px;
  height: 100%;
  font-size: 1.7em;
  font-weight: 600;
}
@media screen and (max-width: 1200px) {
  .content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .hInputGestion h3 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .hInputGestion h3 {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .hInputGestion h3 {
    font-size: 1.2em;
  }
}
.content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .secondIfo {
  width: 60%;
}
.content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .secondIfo p {
  color: #fff;
  line-height: 40px;
  height: 100%;
  font-size: 1.7em;
  font-weight: 400;
  text-align: end;
}
.content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .contentInfoGestion {
  height: 100%;
}
.content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .contentInfoGestion img {
  height: 100%;
}
.content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis form {
    align-items: flex-start;
    justify-content: space-around;
  }
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis form .valider {
    margin-left: 44%;
  }
}
.content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis form .changeGestion {
  height: 100%;
  margin-left: 0;
  width: 75%;
}
@media screen and (max-width: 1200px) {
  .content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis form .changeGestion {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .infoSaisis form .changeGestion {
    height: 40%;
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .modifierInfo {
    height: 30%;
  }
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .inputGA .contentInput .infoLogement .oneInfo .modifierInfo {
    height: 50%;
  }
}
.content .contentPage .card .inputGA .contentInputLeft {
  height: 60%;
}
@media screen and (max-width: 1200px) {
  .content .contentPage .card .inputGA .contentInputLeft {
    height: 60%;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .inputGA .contentInputLeft {
    height: 64%;
  }
}
@media screen and (max-width: 700px) {
  .content .contentPage .card .inputGA .contentInputLeft {
    height: 60%;
  }
}
.content .contentPage .card .inputGA .contentInputRight {
  padding-bottom: 40px;
  height: 74%;
}
@media screen and (max-width: 1200px) {
  .content .contentPage .card .inputGA {
    height: 40%;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .inputGA {
    height: 36%;
  }
}
@media screen and (max-width: 700px) {
  .content .contentPage .card .inputGA {
    height: 30%;
  }
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .inputGA {
    height: 25%;
  }
}
.content .contentPage .card .contentInputRight .infoLogement .oneInfo {
  height: auto !important;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .contentInputRight .infoLogement .oneInfo {
    height: 400px;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .contentInputRight .infoLogement .oneInfo .infoSaisis {
    height: 25%;
  }
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .contentInputRight .infoLogement .oneInfo .infoSaisis {
    height: 10%;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo {
    height: 75%;
  }
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo {
    height: 90%;
  }
}
.content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form {
  align-items: center;
}
.content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form .spanPlus2 {
  cursor: pointer;
}
.content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form .bigModifierInfo {
  height: 400px;
  overflow-y: scroll;
}
@media screen and (max-width: 1200px) {
  .content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form .bigModifierInfo {
    height: 330px;
  }
}
@media screen and (max-width: 700px) {
  .content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form .bigModifierInfo {
    height: 220px;
  }
}
.content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form .bigModifierInfo .labelGestionEquipement {
  display: inline-block;
  width: 200px;
  margin: 5px;
  font-size: 1.2em;
}
.content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form .bigModifierInfo .updateImg {
  width: 30%;
  height: 20%;
  margin: 5px;
  position: relative;
}
.content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form .bigModifierInfo .updateImg label {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form .bigModifierInfo .updateImg label figure {
  width: 100%;
  height: 100%;
}
.content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form .bigModifierInfo .updateImg label figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form .bigModifierInfo .updateImg input {
  position: absolute;
  top: 3px;
  right: 3px;
}
.content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form .bigModifierInfoImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.content .contentPage .card .contentInputRight .infoLogement .oneInfo .modifierInfo form .validerGestion {
  margin-left: 0px;
}
.content .contentPage .height {
  height: 138px;
}
.content .cardInfoPerso {
  height: 130px;
}
.content .cardInfoPerso.active {
  height: 220px;
  box-shadow: none;
}
@media screen and (max-width: 500px) {
  .content .cardInfoPerso.active {
    height: 280px;
  }
}
.content .card2ligneInfoPerso.active {
  height: 300px;
}
@media screen and (max-width: 800px) {
  .content .card2ligneInfoPerso.active {
    height: 400px;
  }
}
.content.contentPageActive {
  display: block;
}
.content .cardHG {
  display: flex;
  flex-direction: row;
  background-color: #017c8e;
  height: 330px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 950px) {
  .content .cardHG {
    height: 220px;
  }
}
@media screen and (max-width: 800px) {
  .content .cardHG {
    height: 190px;
  }
}
@media screen and (max-width: 700px) {
  .content .cardHG {
    flex-direction: column;
    height: 490px;
    margin-top: 30px;
  }
}
.content .cardHG .input {
  position: absolute;
  bottom: 0;
  transform: translateY(0px);
}
.content .cardHG .input.activeInput {
  transform: translateY(350px);
}
.content .cardHG .cardContentLeft {
  width: 40%;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 1500px) {
  .content .cardHG .cardContentLeft {
    width: 45%;
  }
}
@media screen and (max-width: 950px) {
  .content .cardHG .cardContentLeft {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .content .cardHG .cardContentLeft {
    width: 100%;
    height: 40%;
  }
}
.content .cardHG .cardContentLeft figure {
  height: 250px;
  width: 80%;
  margin: 40px auto;
}
@media screen and (max-width: 950px) {
  .content .cardHG .cardContentLeft figure {
    height: 180px;
    margin: 20px auto;
  }
}
@media screen and (max-width: 800px) {
  .content .cardHG .cardContentLeft figure {
    height: 150px;
    margin: 20px auto;
  }
}
.content .cardHG .cardContentLeft figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(14px 6px 4px rgba(0, 0, 0, 0.25));
}
.content .cardHG .cardContentRight {
  width: 60%;
  position: relative;
  z-index: 100;
}
@media screen and (max-width: 1500px) {
  .content .cardHG .cardContentRight {
    width: 55%;
  }
}
@media screen and (max-width: 950px) {
  .content .cardHG .cardContentRight {
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .content .cardHG .cardContentRight {
    width: 100%;
    height: 60%;
    margin-bottom: 20px;
  }
}
.content .cardHG .cardContentRight .oneRightContent {
  height: 33.3%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .content .cardHG .cardContentRight .oneRightContent {
    justify-content: center;
  }
}
.content .cardHG .cardContentRight .oneRightContent h2 {
  color: #fff;
  width: 100%;
  font-size: 2em;
  margin-right: 20px;
}
@media screen and (max-width: 1300px) {
  .content .cardHG .cardContentRight .oneRightContent h2 {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 950px) {
  .content .cardHG .cardContentRight .oneRightContent h2 {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 800px) {
  .content .cardHG .cardContentRight .oneRightContent h2 {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 700px) {
  .content .cardHG .cardContentRight .oneRightContent h2 {
    text-align: center;
    margin: 0 20px;
  }
}
.content .cardHG .cardContentRight .oneRightContent figure {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .content .cardHG .cardContentRight .oneRightContent figure {
    width: 80px;
  }
}
@media screen and (max-width: 800px) {
  .content .cardHG .cardContentRight .oneRightContent figure #iconReservationHistoric {
    height: 35px;
  }
}
@media screen and (max-width: 800px) {
  .content .cardHG .cardContentRight .oneRightContent figure #iconAvis {
    height: 60px;
  }
}
.content .cardHG .cardContentRight .oneRightContent p {
  font-size: 2em;
}
@media screen and (max-width: 1300px) {
  .content .cardHG .cardContentRight .oneRightContent p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 1100px) {
  .content .cardHG .cardContentRight .oneRightContent p {
    width: 180px;
  }
}
@media screen and (max-width: 950px) {
  .content .cardHG .cardContentRight .oneRightContent p {
    font-size: 1.2em;
    width: 140px;
  }
}
.content .cardHG .cardContentRight .oneRightContent .infoRightContent {
  margin-left: 50px;
  color: #fff;
}
@media screen and (max-width: 1500px) {
  .content .cardHG .cardContentRight .oneRightContent .infoRightContent {
    margin-left: 20px;
  }
}
.content .cardHG .cardContentRight .oneRightContent button {
  background-color: #017c8e;
  width: 250px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1300px) {
  .content .cardHG .cardContentRight .oneRightContent button {
    width: 200px;
    height: 45px;
  }
}
@media screen and (max-width: 950px) {
  .content .cardHG .cardContentRight .oneRightContent button {
    width: 160px;
    height: 45px;
  }
}
@media screen and (max-width: 800px) {
  .content .cardHG .cardContentRight .oneRightContent button {
    width: 150px;
    height: 35px;
  }
}
.content .cardHG .cardContentRight .oneRightContent button span {
  color: #fff;
  font-size: 2em;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1300px) {
  .content .cardHG .cardContentRight .oneRightContent button span {
    font-size: 1.7em;
  }
}
@media screen and (max-width: 950px) {
  .content .cardHG .cardContentRight .oneRightContent button span {
    font-size: 1.3em;
  }
}
.content .cardHG .cardContentRight .oneRightContent button:hover {
  transform: scale(1.1);
  background-color: #fff;
}
.content .cardHG .cardContentRight .oneRightContent button:hover span {
  color: #017c8e;
  transform: scale(1.1);
}
.content .cardHG .cardContentRight .oneRightContentGestion {
  height: 23%;
}
@media screen and (max-width: 700px) {
  .content .cardHG .cardContentRight .oneRightContentGestion {
    justify-content: flex-start;
    padding: 0 20px;
  }
}
@media screen and (max-width: 700px) {
  .content .cardHG .cardContentRight .oneRightContentGestion h2 {
    margin: 0;
    text-align: start;
  }
}
.content .cardHG .cardContentRight .oneRightContentGestion p {
  width: 60%;
}
@media screen and (max-width: 1200px) {
  .content .cardHG .cardContentRight .oneRightContentGestion p {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 950px) {
  .content .cardHG .cardContentRight .oneRightContentGestion p {
    font-size: 1.1em;
  }
}
@media screen and (max-width: 1200px) {
  .content .cardHG .cardContentRight .oneRightContentGestion .iconRightContent img {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .content .cardHG .cardContentRight .oneRightContentGestion .iconRightContent {
    width: 50px;
  }
}
@media screen and (max-width: 950px) {
  .content .cardHG .cardContentRight .oneRightContentGestion .iconRightContent {
    width: 30px;
  }
}
.content .cardH.active {
  height: 2800px;
}
@media screen and (max-width: 1200px) {
  .content .cardH.active {
    height: 3800px;
  }
}
@media screen and (max-width: 950px) {
  .content .cardH.active {
    height: 3700px;
  }
}
@media screen and (max-width: 800px) {
  .content .cardH.active {
    height: 2900px;
  }
}
@media screen and (max-width: 700px) {
  .content .cardH.active {
    height: 3300px;
  }
}
@media screen and (max-width: 600px) {
  .content .cardH.active {
    height: 3700px;
  }
}
.content .cardH .contentCardGestion {
  width: 100%;
  display: flex;
  height: 330px;
  position: relative;
  z-index: 100;
  background-color: #017c8e;
}
@media screen and (max-width: 950px) {
  .content .cardH .contentCardGestion {
    height: 220px;
  }
}
@media screen and (max-width: 800px) {
  .content .cardH .contentCardGestion {
    height: 190px;
  }
}
@media screen and (max-width: 700px) {
  .content .cardH .contentCardGestion {
    height: 490px;
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .content .cardH .contentCardGestion .cardContentLeft {
    width: 45%;
  }
}
@media screen and (max-width: 700px) {
  .content .cardH .contentCardGestion .cardContentLeft {
    width: 100%;
  }
}
.content .cardH .contentCardGestion .cardContentRightWithButton {
  position: relative;
}
@media screen and (max-width: 800px) {
  .content .cardH .contentCardGestion .cardContentRightWithButton {
    width: 55%;
  }
}
@media screen and (max-width: 700px) {
  .content .cardH .contentCardGestion .cardContentRightWithButton {
    width: 100%;
  }
}
.content .cardH .contentCardGestion .cardContentRightWithButton .figureModifier {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .content .cardH .contentCardGestion .cardContentRightWithButton .figureModifier {
    width: 10%;
  }
}
.content .cardH .contentCardGestion .cardContentRightWithButton .figureModifier .imgModifierGestion {
  transition: all 0.5s;
  width: 100%;
}
.content .cardH .contentCardGestion .cardContentRightWithButton .figureModifier .imgModifierGestion.activeModifie {
  transform: rotate(-90deg);
}
.content .cardGestionReservation {
  background-color: #017c8e;
}
.content .cardGestionReservation .reservation-table {
  border-collapse: collapse;
}
@media (max-width: 1050px) {
  .content .cardGestionReservation .reservation-table thead {
    display: none;
  }
}
.content .cardGestionReservation .reservation-table thead .rowTable {
  color: #fff;
  font-size: 1.5em;
  border-bottom: 1px #fff solid;
}
@media screen and (max-width: 1050px) {
  .content .cardGestionReservation .reservation-table thead .rowTable {
    font-size: 1.2em;
  }
}
@media (max-width: 1050px) {
  .content .cardGestionReservation .reservation-table thead .rowTable {
    display: block;
    margin-bottom: 40px;
  }
}
.content .cardGestionReservation .reservation-table thead .rowTable .colomTable {
  width: 20%;
  text-align: center;
  padding: 10px 0;
}
.content .cardGestionReservation .reservation-table tbody .rowTable {
  color: #fff;
  border-bottom: 1px #fff solid;
  font-size: 1.2em;
}
@media screen and (max-width: 1050px) {
  .content .cardGestionReservation .reservation-table tbody .rowTable {
    font-size: 1em;
  }
}
@media (max-width: 1050px) {
  .content .cardGestionReservation .reservation-table tbody .rowTable {
    display: block;
    margin-bottom: 40px;
  }
}
.content .cardGestionReservation .reservation-table tbody .rowTable td {
  max-width: 20%;
  text-align: center;
  padding: 10px;
  word-break: break-word;
}
@media (max-width: 1050px) {
  .content .cardGestionReservation .reservation-table tbody .rowTable td {
    max-width: 100%;
    display: block;
    text-align: right;
  }
  .content .cardGestionReservation .reservation-table tbody .rowTable td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}
@media (max-width: 1050px) and (max-width: 450px) {
  .content .cardGestionReservation .reservation-table tbody .rowTable td {
    text-align: left;
  }
}
.content .cardGestionReservation .reservation-table tbody .rowTable td p {
  width: 100%;
}
@media (max-width: 1050px) {
  .content .cardGestionReservation .reservation-table tbody .rowTable td p {
    width: 60%;
    margin-left: 38%;
  }
}
@media (max-width: 700px) {
  .content .cardGestionReservation .reservation-table tbody .rowTable td p {
    width: 40%;
    margin-left: 58%;
  }
}
@media (max-width: 450px) {
  .content .cardGestionReservation .reservation-table tbody .rowTable td p {
    margin-top: 25px;
    width: 100%;
    margin-left: 0;
  }
}
.content .cardAjout {
  box-shadow: none;
}
.content .cardAjout .inputGA {
  height: auto;
  margin: 50px 0;
}
.content .cardAjout .inputGA .valider {
  margin: 50px auto;
}
@media screen and (max-width: 1200px) {
  .content .cardAjout .inputGA .valider {
    margin: 30px auto;
  }
}
@media screen and (max-width: 600px) {
  .content .cardAjout .inputGA .contentInput .infoLogement .oneInfo {
    height: 170px;
  }
}
@media screen and (max-width: 600px) {
  .content .cardAjout .inputGA .contentInput .infoLogement .oneInfo .infoSaisis {
    height: 40%;
  }
}
.content .cardAjout .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .change {
  width: 100%;
  margin-left: 0;
  height: 100%;
}
.content .cardAjout .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .bigModifierInfo {
  height: 400px;
  position: relative;
  overflow-y: scroll;
}
.content .cardAjout .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .bigModifierInfo .spanPlus {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 10%;
  cursor: pointer;
}
.content .cardAjout .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .bigModifierInfo .spanPlus img {
  width: 100%;
}
@media screen and (max-width: 1200px) {
  .content .cardAjout .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .bigModifierInfo {
    height: 330px;
  }
}
@media screen and (max-width: 700px) {
  .content .cardAjout .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .bigModifierInfo {
    height: 220px;
  }
}
.content .cardAjout .inputGA .contentInput .infoLogement .oneInfo .infoSaisis .bigModifierInfo .labelGestionEquipement {
  display: inline-block;
  width: 200px;
  margin: 5px;
  font-size: 1.2em;
}
@media screen and (max-width: 600px) {
  .content .cardAjout .inputGA .contentInput .infoLogement .oneInfo .modifierInfo {
    height: 25%;
  }
}
.content .cardAjout .inputGA .contentInput .infoLogement .oneBigInfo {
  height: auto;
}

.contentPageReservation .divBarreDeRecherche form {
  background-color: #4fb849;
}
.contentPageReservation .divBarreDeRecherche form .search {
  background-color: #4fb849;
  border: #4fb849;
}
.contentPageReservation .card {
  background-color: #4fb849;
}
.contentPageReservation .card .cardContentRight .oneRightContent {
  height: 25%;
}
.contentPageReservation .card .cardContentRight .oneRightContent p {
  width: 60%;
}/*# sourceMappingURL=dashboard.css.map */