* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.content nav {
  position: sticky;
  top: -75px;
  background-color: #017c8e;
  width: 100px;
  height: 100vh;
  transition: all 1s ease-in-out;
}
.content nav ul {
  height: 100%;
}
.content nav ul li {
  position: absolute;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.content nav ul li figure {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content nav ul li figure.likeActive {
  top: 10px;
}
.content nav ul li figure.infoActive {
  top: 10px;
}
.content nav ul li figure img {
  height: 50px;
}
.content nav #info {
  background-color: #017c8e;
  display: flex;
  flex-direction: column;
  height: 76%;
}
.content nav #info ul {
  width: 100%;
}
.content nav #info ul li {
  position: absolute;
  height: 11%;
}
.content nav #info ul li figure img {
  height: 45px;
}
.content nav #info ul li:hover {
  background-color: #004b56;
}
.content nav #info ul #infoPerso {
  top: -11%;
}
.content nav #info ul #perso {
  top: 0%;
}
.content nav #info ul #historic {
  top: 11%;
}
.content nav #info ul #gestionBien {
  top: 22%;
}
.content nav #info ul #ajouterBien {
  top: 33%;
}
.content nav #info ul #gestionReservation {
  top: 44%;
}
.content nav #info.infoActive {
  bottom: 24%;
  height: 76%;
  width: 100%;
  cursor: default;
}
.content nav #info.likeActive {
  animation: info 2s forwards;
}
@keyframes info {
  10% {
    transform: translateX(-100px);
  }
  90% {
    bottom: 16%;
  }
  100% {
    transform: translateX(0%);
    bottom: 16%;
  }
}
.content nav #resevations {
  background: #4fb849;
  bottom: 8%;
}
.content nav #like {
  background: #ed1b24;
  bottom: 16%;
  transition: all 1s ease-in;
}
.content nav #like.likeActive {
  bottom: 24%;
  height: 76%;
  width: 100%;
  cursor: default;
}
.content nav #messagerie {
  background: #fbb019;
  bottom: 0;
}
.content nav #messagerie figure {
  margin-right: 9%;
}
.content nav #messagerie figure img {
  margin-top: 20%;
}
.content .contentPage {
  width: 70%;
  margin: 0 auto;
}
.content .contentPage .card {
  width: 100%;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  border: 20px;
  position: relative;
  z-index: 100;
}
.content .contentPage .card:first-child {
  margin-top: 50px;
}
.content .contentPage .card.activeModifie {
  transform: translateY(50px);
}
.content .contentPage .card div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
}
.content .contentPage .card div h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}
.content .contentPage .card div p {
  color: #fff;
  font-size: 1.2em;
}
.content .contentPage .card .figureModifier {
  padding: 20px;
  cursor: pointer;
}
.content .contentPage .card .figureModifier .imgModifier {
  transition: all 0.2s;
}
.content .contentPage .card .figureModifier .imgModifier.activeModifie {
  transform: rotate(-90deg);
}
.content .contentPage .input {
  background-color: #017c8e;
  padding: 20px;
  transform: translateY(-70px);
  transition: all 0.2s ease-in;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
}
.content .contentPage .input input {
  font-size: 1.5em;
  background-color: #017c8e;
  border: #fff 3px solid;
  border-radius: 10px;
  color: #fff;
  padding: 5px;
  margin-left: 20px;
}
.content .contentPage .input input::-moz-placeholder {
  color: #e3dada;
}
.content .contentPage .input input::placeholder {
  color: #e3dada;
}
.content .contentPage .input input:focus {
  outline: none;
}
.content .contentPage .input input:first-child {
  margin-left: 0;
}
.content .contentPage .input .valider {
  background: url(../img/valider.png) center center no-repeat;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.1s ease-in;
}
.content .contentPage .input .valider:hover {
  cursor: pointer;
  background-color: #4fb849;
  transform: scale(1.1);
}
.content .contentPage .input.activeInput {
  transform: translateY(0px);
}
.content .contentPage .cardInfoPerso {
  background-color: #017c8e;
}/*# sourceMappingURL=dashboard.css.map */