* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.content nav {
  position: sticky;
  top: -75px;
  background-color: #017c8e;
  width: 100px;
  height: 100vh;
  transition: all 1s ease-in-out;
}
@media screen and (max-width: 700px) {
  .content nav {
    width: 70px;
  }
}
@media screen and (max-width: 550px) {
  .content nav {
    width: 50px;
  }
}
.content nav ul {
  height: 100%;
}
.content nav ul li {
  position: absolute;
  height: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.content nav ul li figure {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content nav ul li figure.likeActive {
  top: 10px;
}
.content nav ul li figure.infoActive {
  top: 10px;
}
.content nav ul li figure img {
  height: 50px;
}
@media screen and (max-width: 700px) {
  .content nav ul li figure img {
    height: 38px;
  }
}
@media screen and (max-width: 550px) {
  .content nav ul li figure img {
    height: 35px;
  }
}
@media screen and (max-width: 550px) {
  .content nav ul li figure #imgMesagerie {
    height: 30px;
  }
}
.content nav #info {
  background-color: #017c8e;
  display: flex;
  flex-direction: column;
  height: 76%;
}
.content nav #info ul {
  width: 100%;
}
.content nav #info ul li {
  position: absolute;
  height: 11%;
}
.content nav #info ul li figure img {
  height: 45px;
}
@media screen and (max-width: 700px) {
  .content nav #info ul li figure img {
    height: 38px;
  }
}
@media screen and (max-width: 550px) {
  .content nav #info ul li figure img {
    height: 30px;
  }
}
@media screen and (max-width: 550px) {
  .content nav #info ul li figure #iconInfo {
    height: 25px;
  }
}
.content nav #info ul li:hover {
  background-color: #004b56;
}
.content nav #info ul #infoPerso {
  top: -11%;
}
.content nav #info ul #perso {
  top: 0%;
}
.content nav #info ul #historic {
  top: 11%;
}
.content nav #info ul #gestionBien {
  top: 22%;
}
.content nav #info ul #ajouterBien {
  top: 33%;
}
.content nav #info ul #gestionReservation {
  top: 44%;
}
.content nav #info.infoActive {
  bottom: 24%;
  height: 76%;
  width: 100%;
  cursor: default;
}
.content nav #info.likeActive {
  animation: info 2s forwards;
}
@keyframes info {
  10% {
    transform: translateX(-100px);
  }
  90% {
    bottom: 16%;
  }
  100% {
    transform: translateX(0%);
    bottom: 16%;
  }
}
.content nav #resevations {
  background: #4fb849;
  bottom: 8%;
}
.content nav #like {
  background: #ed1b24;
  bottom: 16%;
  transition: all 1s ease-in;
}
.content nav #like.likeActive {
  bottom: 24%;
  height: 76%;
  width: 100%;
  cursor: default;
}
.content nav #messagerie {
  background: #fbb019;
  bottom: 0;
}
.content nav #messagerie figure {
  margin-right: 9%;
}
.content nav #messagerie figure img {
  margin-top: 20%;
}
.content .contentPage {
  width: 1300px;
  margin: 0 auto;
  display: none;
}
.content .contentPage h1 {
  margin-top: 50px;
  color: #454545;
  font-size: 2.5em;
}
.content .contentPage .divBarreDeRecherche {
  height: 50px;
  margin: 50px 0;
}
.content .contentPage .divBarreDeRecherche form {
  background-color: #017c8e;
  border-radius: 20px;
  height: 50px;
}
.content .contentPage .divBarreDeRecherche form #searchHistoric {
  float: left;
  height: 100%;
  background-color: #017c8e;
  border: #017c8e 3px solid;
  margin-left: 20px;
  width: 70%;
  color: #fff;
  font-size: 1.5em;
}
.content .contentPage .divBarreDeRecherche form #searchHistoric::-moz-placeholder {
  color: #e3dada;
}
.content .contentPage .divBarreDeRecherche form #searchHistoric::placeholder {
  color: #e3dada;
}
.content .contentPage .divBarreDeRecherche form #searchHistoric::-webkit-search-cancel-button {
  display: none;
}
.content .contentPage .divBarreDeRecherche form #searchHistoric:focus {
  outline: none;
}
.content .contentPage .divBarreDeRecherche form #rechercherHistoric {
  float: right;
  background: url(../img/lupe.png) center center no-repeat;
  height: 50px;
  width: 50px;
  transition: all 0.1s ease-in;
  border: none;
  margin-right: 20px;
}
.content .contentPage .divBarreDeRecherche form #rechercherHistoric:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.content .contentPage .card {
  width: 100%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 20px;
  position: relative;
  z-index: 100;
  transition: all 0.5s ease-in;
  margin-top: 50px;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content .contentPage .card:first-child {
  margin-top: 50px;
}
.content .contentPage .card.activeModifie {
  transform: translateY(50px);
}
.content .contentPage .card .contentFixCard {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}
.content .contentPage .card .contentFixCard div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}
.content .contentPage .card .contentFixCard div h3 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
}
@media screen and (max-width: 500px) {
  .content .contentPage .card .contentFixCard div h3 {
    font-size: 1.2em;
  }
}
.content .contentPage .card .contentFixCard div p {
  color: #fff;
  font-size: 1.2em;
}
@media screen and (max-width: 500px) {
  .content .contentPage .card .contentFixCard div p {
    font-size: 1em;
  }
}
.content .contentPage .card .contentFixCard .figureModifier {
  cursor: pointer;
  height: 130px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .contentFixCard .figureModifier {
    align-items: flex-start;
  }
}
.content .contentPage .card .contentFixCard .figureModifier .imgModifier {
  transition: all 0.5s;
  height: 40%;
}
@media screen and (max-width: 600px) {
  .content .contentPage .card .contentFixCard .figureModifier .imgModifier {
    height: 35%;
    margin-top: 15px;
  }
}
.content .contentPage .card .contentFixCard .figureModifier .imgModifier.activeModifie {
  transform: rotate(-90deg);
}
.content .contentPage .card .contentFixCardInfoPerso {
  background-color: #017c8e;
  height: 130px;
}
.content .contentPage .card .input {
  background-color: #017c8e;
  transform: translateY(-44px);
  transition: all 0.5s ease-in;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 90px;
  padding-right: 20px;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input {
    flex-direction: column;
    justify-content: center;
  }
}
.content .contentPage .card .input input {
  font-size: 1.5em;
  background-color: #017c8e;
  border: #fff 3px solid;
  border-radius: 10px;
  color: #fff;
  padding: 5px;
  margin-left: 20px;
  height: 50%;
}
.content .contentPage .card .input input::-moz-placeholder {
  color: #e3dada;
}
.content .contentPage .card .input input::placeholder {
  color: #e3dada;
}
.content .contentPage .card .input input:focus {
  outline: none;
}
@media screen and (max-width: 1140px) {
  .content .contentPage .card .input input {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 1000px) {
  .content .contentPage .card .input input {
    font-size: 1em;
  }
}
@media screen and (max-width: 950px) {
  .content .contentPage .card .input input {
    height: 38%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .content .contentPage .card .input input {
    height: 20%;
  }
}
.content .contentPage .card .input .valider {
  background: url(../img/valider.png) center center no-repeat;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  transition: all 0.1s ease-in;
}
.content .contentPage .card .input .valider:hover {
  cursor: pointer;
  background-color: #4fb849;
  transform: scale(1.1);
}
.content .contentPage .card .input.activeInput {
  transform: translateY(0px);
  height: 90px;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input.activeInput {
    transform: translateY(-1px);
  }
}
@media screen and (max-width: 500px) {
  .content .contentPage .card .input.activeInput {
    height: 160px;
  }
}
.content .contentPage .card .input2ligne {
  transform: translateY(-250px);
  height: 129px;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input2ligne {
    height: 300px;
  }
}
.content .contentPage .card .input2ligne input {
  height: 25%;
  margin: 20px;
}
@media screen and (max-width: 870px) {
  .content .contentPage .card .input2ligne input {
    margin: 20px 10px;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input2ligne input {
    height: 13%;
    margin: 8px 20px;
  }
}
.content .contentPage .card .input2ligne.activeInput {
  height: 180px;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input2ligne.activeInput {
    height: 300px;
  }
}
@media screen and (max-width: 800px) {
  .content .contentPage .card .input2info {
    transform: translateY(-120px);
  }
}
.content .contentPage .card .height {
  height: 138px;
}
.content .contentPage .cardInfoPerso {
  height: 130px;
}
.content .contentPage .cardInfoPerso.active {
  height: 220px;
  box-shadow: none;
}
@media screen and (max-width: 500px) {
  .content .contentPage .cardInfoPerso.active {
    height: 280px;
  }
}
.content .contentPage .card2ligneInfoPerso.active {
  height: 300px;
}
@media screen and (max-width: 800px) {
  .content .contentPage .card2ligneInfoPerso.active {
    height: 400px;
  }
}
.content .contentPage.contentPageActive {
  display: block;
}
.content .contentPage .cardHistoric {
  display: flex;
  flex-direction: row;
  background-color: #017c8e;
  height: 330px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.content .contentPage .cardHistoric .cardHistoriqueContentLeft {
  width: 40%;
}
.content .contentPage .cardHistoric .cardHistoriqueContentLeft figure {
  height: 250px;
  width: 80%;
  margin: 40px auto;
}
.content .contentPage .cardHistoric .cardHistoriqueContentLeft figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(14px 6px 4px rgba(0, 0, 0, 0.25));
}
.content .contentPage .cardHistoric .cardHistoriqueContentRight {
  width: 60%;
}
.content .contentPage .cardHistoric .cardHistoriqueContentRight .oneRightContent {
  height: 33.3%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.content .contentPage .cardHistoric .cardHistoriqueContentRight .oneRightContent h2 {
  color: #fff;
  width: 100%;
  font-size: 2em;
}
.content .contentPage .cardHistoric .cardHistoriqueContentRight .oneRightContent figure {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .contentPage .cardHistoric .cardHistoriqueContentRight .oneRightContent p {
  font-size: 2em;
}
.content .contentPage .cardHistoric .cardHistoriqueContentRight .oneRightContent .infoRightContent {
  margin-left: 50px;
  color: #fff;
}
.content .contentPage .cardHistoric .cardHistoriqueContentRight .oneRightContent button {
  background-color: #017c8e;
  width: 250px;
  height: 50px;
  border: 3px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.content .contentPage .cardHistoric .cardHistoriqueContentRight .oneRightContent button span {
  color: #fff;
  font-size: 2em;
  transition: all 0.3s ease-in-out;
}
.content .contentPage .cardHistoric .cardHistoriqueContentRight .oneRightContent button:hover {
  transform: scale(1.1);
  background-color: #fff;
}
.content .contentPage .cardHistoric .cardHistoriqueContentRight .oneRightContent button:hover span {
  color: #017c8e;
  transform: scale(1.1);
}/*# sourceMappingURL=dashboard.css.map */