$turque: #017c8e;
$red: #ed1b24;
$orange: #fbb019;
$green: #4fb849;
$roboto: 'Roboto', sans-serif;
$fontTitle : 'righteous',
sans-serif;


* {
    margin: 0;
    padding: 0;
    font-family: $roboto;
}



.content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    nav {
        position: sticky;
        top: -75px;
        background-color: $turque;
        width: 100px;
        height: 100vh;
        transition: all 1s ease-in-out;

        ul {
            height: 100%;


            li {
                position: absolute;
                height: 8%;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                cursor: pointer;

                figure {
                    width: 100%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.likeActive {
                        top: 10px;
                    }

                    &.infoActive {
                        top: 10px;
                    }

                    img {
                        height: 50px;

                    }

                }
            }

        }



        #info {
            background-color: $turque;
            display: flex;
            flex-direction: column;
            height: 76%;

            ul {
                width: 100%;

                li {
                    position: absolute;
                    height: 11%;

                    figure {
                        img {
                            height: 45px;
                        }
                    }

                    &:hover {
                        background-color: #004b56;
                    }
                }

                #infoPerso {
                    top: -11%;
                }

                #perso {
                    top: 0%;
                }

                #historic {
                    top: 11%;
                }

                #gestionBien {
                    top: 22%;
                }

                #ajouterBien {
                    top: 33%;
                }

                #gestionReservation {
                    top: 44%;
                }
            }

            &.infoActive {
                bottom: 24%;
                height: 76%;
                width: 100%;
                cursor: default;
            }


            &.likeActive {
                animation: info 2s forwards;

            }

            @keyframes info {
                10% {
                    transform: translateX(-100px);
                }

                90% {
                    bottom: 16%;
                }

                100% {
                    transform: translateX(0%);
                    bottom: 16%;
                }

            }
        }

        #resevations {
            background: $green;
            bottom: 8%;

        }

        #like {
            background: $red;
            bottom: 16%;
            transition: all 1s ease-in;

            &.likeActive {
                bottom: 24%;
                height: 76%;
                width: 100%;
                cursor: default;
            }



        }


        #messagerie {
            background: $orange ;
            bottom: 0;

            figure {
                margin-right: 9%;

                img {
                    margin-top: 20%;


                }

            }

        }

    }

    .contentPage {
        width: 70%;
        margin: 0 auto;
        display: none;

        h1 {
            margin-top: 50px;
            color: #454545;
            font-size: 2.5em;
        }

        .divBarreDeRecherche {
            height: 50px;
            margin: 50px 0;

            form {
                background-color: $turque;
                border-radius: 20px;

                height: 50px;

                #searchHistoric {
                    float: left;
                    height: 100%;
                    background-color: $turque;
                    border: $turque 3px solid;
                    margin-left: 20px;
                    width: 70%;
                    color: #fff;
                    font-size: 1.5em;

                    &::placeholder {
                        color: #e3dada;
                    }

                    &::-webkit-search-cancel-button {
                        display: none;
                    }

                    &:focus {
                        outline: none;
                    }
                }

                #rechercherHistoric {
                    float: right;
                    background: url(../img/lupe.png) center center no-repeat;
                    height: 50px;
                    width: 50px;
                    transition: all 0.1s ease-in;
                    border: none;
                    margin-right: 20px;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                    }
                }
            }
        }

        .card {
            width: 100%;
            margin-top: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: 20px;
            position: relative;
            z-index: 100;
            transition: all 0.5s ease-in;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-top: 50px;

            &:first-child {
                margin-top: 50px;
            }

            &.activeModifie {
                transform: translateY(+50px);
            }





            .contentFixCard {
                display: flex;
                justify-content: space-between;
                position: relative;
                z-index: 100;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    padding-left: 20px;

                    h3 {
                        color: #fff;
                        font-family: $roboto;

                        font-size: 1.5em;
                    }

                    p {
                        color: #fff;
                        font-size: 1.2em;
                    }
                }

                .figureModifier {
                  
                    cursor: pointer;
                    height: 130px;
                    padding-right: 20px;
                    display: flex;
                    align-items: center;

                    .imgModifier {
                        transition: all 0.5s;
                        height: 50%;

                        &.activeModifie {
                            transform: rotate(-90deg);
                        }

                    }


                }





            }

            .contentFixCardInfoPerso {
                background-color: $turque;
                height: 130px;
            }





            .input {
                background-color: $turque;
                transform: translateY(-90px);
                transition: all 0.5s ease-in;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                width: 100%;
                height: 0px;
                padding-left: 20px;
               

                input {
                    font-size: 1.5em;
                    background-color: $turque;
                    border: #fff 3px solid;
                    border-radius: 10px;
                    color: #fff;
                    padding: 5px;
                    margin-left: 20px;
                    height: 50%;

                    &::placeholder {
                        color: #e3dada;
                    }

                    &:focus {
                        outline: none;
                    }

                    &:first-child {
                        margin-left: 0;

                    }
                }

                .valider {
                    background: url(../img/valider.png) center center no-repeat;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    transition: all 0.1s ease-in;

                    &:hover {
                        cursor: pointer;
                        background-color: $green;
                        transform: scale(1.1);
                    }
                }

                &.activeInput {
                    transform: translateY(0px);
                    height: 90px;
                }
            }
        }

        .cardHistoric {
            display: flex;

            .cardHistoriqueContentLeft {
                width: 40%;

                figure {
                    height: 250px;
                    width: 400px;
                    margin: 20px auto;


                    img {
                        width: 100%;
                        height: 100%;
                        filter: drop-shadow(14px 6px 4px rgba(0, 0, 0, 0.25));

                    }
                }
            }

            .cardHistoriqueContentRight {
                width: 60%;


                .oneRightContent {
                    height: 33.3%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    h2 {
                        color: #fff;
                        width: 100%;
                        font-size: 2em;
                    }

                    figure {
                        width: 100px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    p {
                        font-size: 2em;
                    }

                    .infoRightContent {
                        margin-left: 50px;
                    }

                    button {
                        background-color: $turque;
                        width: 250px;
                        height: 50px;
                        border: 3px solid #fff;
                        border-radius: 10px;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        span {
                            color: #fff;
                            font-size: 2em;
                            transition: all 0.3s ease-in-out;
                        }

                        &:hover {
                            transform: scale(1.1);
                            background-color: #fff;
                        }

                        &:hover span {
                            color: $turque;
                            transform: scale(1.1);
                        }
                    }
                }

            }



        }



        .cardInfoPerso {
            background-color: none;
            height: 130px;

            &.active{
                height: 220px;
                box-shadow: none;
            }

        }

        &.contentPageActive {
            display: block;
        }
    }




}