*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.row-limit-size {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  width: 90%;
  border-radius: 25px;
  background: linear-gradient(90deg, rgb(1, 124, 142) 50%, rgb(1, 148, 156) 50%);
  display: block;
  color: #fff;
  padding: 15px 0;
  font-size: 1.2rem;
  font-family: "Righteous", cursive;
}

/*header phone*/
header #logo img {
  width: 200px;
  display: block;
  margin: 5px auto;
}
header #burgerDesktop {
  display: none;
}
header #burgerPhone {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 900;
}
header #burgerPhone #menuBurger,
header #burgerPhone #searchPhone {
  width: 50%;
  height: 50px;
  position: relative;
}
header #burgerPhone #menuBurger .iconMenuPhone,
header #burgerPhone #searchPhone .iconMenuPhone {
  width: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header #burgerPhone #menuBurger {
  background-color: #017C8E;
  border-top: 1px solid #fff;
}
header #burgerPhone #menuBurger #navConnectPhone,
header #burgerPhone #menuBurger #navDisconnectPhone {
  display: none;
}
header #burgerPhone #menuBurger #navDisconnectPhone.logout,
header #burgerPhone #menuBurger #navConnectPhone.loginActive {
  display: block;
  position: absolute;
  bottom: 50px;
  width: 100%;
}
header #burgerPhone #menuBurger #navDisconnectPhone.logout ul li,
header #burgerPhone #menuBurger #navConnectPhone.loginActive ul li {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #017C8E;
  border: 1px solid #fff;
}
header #burgerPhone #menuBurger #navDisconnectPhone.logout ul li a,
header #burgerPhone #menuBurger #navConnectPhone.loginActive ul li a {
  color: #fff;
  font-family: "Righteous", cursive;
}
header #burgerPhone #searchPhone {
  background-color: #01949C;
  border-top: 1px solid #fff;
}
header .clearfix:after {
  content: "";
  display: table;
  clear: both;
  display: block;
}
header .clearfix:before {
  content: "";
  display: table;
}
header a {
  color: inherit;
  text-decoration: none;
}
header #searchBoxPhone {
  background-image: url(../img/heroMontainPhone.jpg);
  background-size: cover;
  margin: auto;
  max-width: 700px;
  width: 90%;
  min-height: 600px;
  display: none;
}
header #searchBoxPhone form {
  width: 100%;
  padding-top: 25px;
}
header #searchBoxPhone form .searchFormBox {
  width: 150px;
  background-color: #fff;
  height: 75px;
  margin: 25px auto;
  border: 1px solid #017C8E;
  position: relative;
  padding-top: 10px;
}
header #searchBoxPhone form .searchFormBox label {
  font-size: 1rem;
  font-family: "Righteous", cursive;
  font-weight: 700;
  padding: 10px 0 0 10px;
}
header #searchBoxPhone form .searchFormBox input {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 80%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #017C8E;
}
header #searchBoxPhone form #buttonSearch {
  width: 150px;
  height: 75px;
  margin: 25px auto;
}
header #searchBoxPhone form #buttonSearch input {
  width: 100%;
  height: 100%;
  position: inherit;
  margin: unset;
  color: #fff;
  font-family: "Righteous", cursive;
  font-size: 1.5rem;
  background: linear-gradient(90deg, rgb(1, 124, 142) 50%, rgb(1, 148, 156) 50%);
}
header #searchBoxPhone.formSearchActive {
  display: block;
}
header #loginBox {
  width: 100%;
  margin: auto;
  max-width: 525px;
  min-height: 850px;
  display: none;
  position: relative;
  background: url(../img/logement/appartementMarseille1.1.webp);
  background-size: cover;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
header #loginBox #close {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Righteous", cursive;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
header #loginBox.formActive {
  display: block;
  position: absolute;
  top: 100%;
  z-index: 100;
}
header .loginBoxHeader {
  width: 100%;
  height: 100%;
  padding: 50px 10px 50px 10px;
}
header .loginBoxHeader .sign-in-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
header .loginBoxHeader .sign-up-form {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
header .loginBoxHeader .sign-in {
  display: none;
}
header .loginBoxHeader .sign-in:checked + .tab {
  color: #fff;
  border-color: #01949C;
}
header .loginBoxHeader .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-form {
  transform: rotate(0);
}
header .loginBoxHeader .sign-up {
  display: none;
}
header .loginBoxHeader .sign-up:checked + .tab {
  color: #fff;
  border-color: #01949C;
}
header .loginBoxHeader .sign-up:checked + .tab + .login-form .sign-up-form {
  transform: rotate(0);
}
header .loginBoxHeader .tab {
  text-transform: uppercase;
  font-family: "Righteous", cursive;
  font-weight: 700;
  font-size: 1rem;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 50px 15px;
  display: inline-block;
  border-bottom: 2px solid transparent;
  color: black;
}
header .login-form {
  width: 80%;
  margin: 0 auto;
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
header .login-form .group {
  margin-bottom: 15px;
}
header .login-form .group .check {
  display: none;
}
header .login-form .group .check:checked + label {
  color: #fff;
}
header .login-form .group .check:checked + label .icon {
  background: #1161ee;
}
header .login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
header .login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
header .login-form .group .label {
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  display: block;
  margin-left: 10%;
  font-size: 12px;
}
header .login-form .group .button {
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  display: block;
  border: none;
  padding: 15px 0px;
  margin-top: 20px;
  border-radius: 25px;
  background: #017C8E;
}
header .login-form .group .input {
  width: 100%;
  color: #000;
  display: block;
  border: none;
  padding: 15px 20px;
  border-radius: 25px;
  background: rgb(255, 255, 255);
}
header .login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
}
header .login-form .group label .icon:before {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
header .login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: #fff;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}

/*header tablet*/
@media screen and (min-width: 800px) {
  header {
    display: flex;
    justify-content: center;
    position: relative;
  }
  header #burgerPhone {
    display: none;
  }
  header #burgerDesktop {
    display: block;
    position: absolute;
    top: 30%;
    right: 20px;
  }
  header #burgerDesktop img {
    width: 75px;
  }
  header #burgerDesktop #navConnect,
  header #burgerDesktop #navDisconnect {
    display: none;
  }
  header #burgerDesktop #navDisconnect.logoutDesktop,
  header #burgerDesktop #navConnect.loginDesktopActive {
    display: block;
  }
  header #burgerDesktop #navDisconnect.logoutDesktop ul,
  header #burgerDesktop #navConnect.loginDesktopActive ul {
    position: relative;
    z-index: 100;
  }
  header #burgerDesktop #navDisconnect.logoutDesktop ul li,
  header #burgerDesktop #navConnect.loginDesktopActive ul li {
    width: 200px;
    text-align: center;
    padding: 20px 0;
    background-color: #017C8E;
  }
  header #burgerDesktop #navDisconnect.logoutDesktop ul li:hover,
  header #burgerDesktop #navConnect.loginDesktopActive ul li:hover {
    color: #017C8E;
    background-color: #fff;
  }
  header #burgerDesktop #navDisconnect.logoutDesktop ul li a,
  header #burgerDesktop #navConnect.loginDesktopActive ul li a {
    color: #fff;
    font-family: "Righteous", cursive;
    padding: 10px;
  }
  header #burgerDesktop #navDisconnect.logoutDesktop ul li a:hover,
  header #burgerDesktop #navConnect.loginDesktopActive ul li a:hover {
    color: #017C8E;
  }
}
/*hero phone*/
#hero {
  position: relative;
}
#hero figure img {
  width: 100%;
  max-height: 600px;
}
#hero h1 {
  position: absolute;
  color: #fff;
  font-family: "Righteous", cursive;
  white-space: nowrap;
  font-size: 1.2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 100;
}

.searchBoxDesktop {
  display: none;
}

/*hero tablet*/
@media screen and (min-width: 500px) {
  #hero h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 800px) {
  #hero h1 {
    font-size: 2rem;
  }
  .searchBoxDesktop {
    display: block;
    position: absolute;
    top: 60%;
    margin: auto;
    width: 100%;
  }
  .searchBoxDesktop .searchformDesktop {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
  }
  .searchBoxDesktop .searchformDesktop .searchFormBox {
    width: 150px;
    background-color: #fff;
    height: 75px;
    margin: 25px auto;
    border: 1px solid #017C8E;
    position: relative;
    padding-top: 10px;
    border-radius: 5px;
  }
  .searchBoxDesktop .searchformDesktop .searchFormBox label {
    font-size: 1rem;
    font-family: "Righteous", cursive;
    font-weight: 700;
    padding: 10px 0 0 10px;
  }
  .searchBoxDesktop .searchformDesktop .searchFormBox input {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 80%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #017C8E;
  }
  .searchBoxDesktop .searchformDesktop #buttonSearch {
    width: 150px;
    height: 75px;
    margin: 25px auto;
  }
  .searchBoxDesktop .searchformDesktop #buttonSearch input {
    width: 100%;
    height: 100%;
    position: inherit;
    margin: unset;
    color: #fff;
    font-family: "Righteous", cursive;
    font-size: 1.5rem;
    background: linear-gradient(90deg, rgb(1, 124, 142) 50%, rgb(1, 148, 156) 50%);
    border-radius: 5px;
  }
}
@media screen and (min-width: 1200px) {
  #hero h1 {
    font-size: 2.5rem;
  }
}
/*section destination phone*/
#destination .destinationContainer .articleDestination {
  display: flex;
  margin: 25px;
}
#destination .destinationContainer .articleDestination img {
  width: 30px;
}
#destination .destinationContainer .articleDestination h2 {
  padding: 10px 10px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
#destination .destinationContainer .imgDestination div {
  position: relative;
}
#destination .destinationContainer .imgDestination div a img {
  border-radius: 5px;
  width: 250px;
  height: 208px;
  margin: 25px auto;
  display: block;
}
#destination .destinationContainer .imgDestination div h4 {
  position: absolute;
  white-space: nowrap;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: #000;
  font-family: "Righteous", cursive;
  font-size: 1.2rem;
  -webkit-text-stroke: 1px #fff;
  text-transform: uppercase;
}

/* section destination tablet desketop*/
@media screen and (min-width: 600px) {
  #destination .destinationContainer .imgDestination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
  #destination .destinationContainer .imgDestination div h4 {
    bottom: 50px;
  }
}
@media screen and (min-width: 750px) {
  #destination .destinationContainer .imgDestination {
    width: 70%;
  }
}
@media screen and (min-width: 850px) {
  #destination .destinationContainer .imgDestination {
    width: 60%;
  }
}
@media screen and (min-width: 980px) {
  #destination .destinationContainer .imgDestination {
    width: 80%;
  }
}
@media screen and (min-width: 980px) {
  #destination .destinationContainer .imgDestination {
    width: 90%;
  }
}
/*oneLogements phone*/
#oneLogement {
  padding-top: 50px;
}
#oneLogement #firstPartOne {
  width: 90%;
  margin: 0 auto;
}
#oneLogement #firstPartOne #window-slider {
  width: 90%;
  height: 220px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}
#oneLogement #firstPartOne #window-slider #list-slide .slide img {
  width: 100%;
}
#oneLogement #firstPartOne #boxGallery {
  display: none;
}
#oneLogement #firstPartOne h4,
#oneLogement #firstPartOne p {
  width: 90%;
  display: block;
  margin: 10px auto;
  font-family: "Roboto", sans-serif;
}
#oneLogement #firstPartOne #cancel {
  display: flex;
  justify-content: space-between;
  margin: 20px 5%;
}
#oneLogement #firstPartOne #cancel img {
  width: 25px;
  height: 25px;
}
#oneLogement #firstPartOne #cancel p {
  width: 70%;
}
#oneLogement #firstPartOne #about p {
  text-align: justify;
}
#oneLogement #firstPartOne #boxFilter {
  margin: 50px 0;
}
#oneLogement #firstPartOne .convenience {
  display: flex;
}
#oneLogement #firstPartOne .convenience img {
  width: 25px;
  height: 25px;
}
#oneLogement #firstPartOne .convenience p {
  width: 70%;
}
#oneLogement #firstPartOne button {
  margin: 50px auto;
}
#oneLogement #secondPartOne {
  width: 100%;
  position: fixed;
  bottom: 50px;
  background-color: #fff;
  z-index: 900;
  border-top: 1px solid #017C8E;
}
#oneLogement #secondPartOne h4 {
  font-size: 1.2rem;
}
#oneLogement #secondPartOne h4,
#oneLogement #secondPartOne p {
  margin: 10px 5%;
  font-family: "Roboto", sans-serif;
}
#oneLogement #secondPartOne input[type=submit] {
  margin: 25px auto;
}
#oneLogement .fc {
  font-size: 0.6rem;
  font-family: "Roboto", sans-serif;
}
#oneLogement .fc-button-group {
  width: 50px;
}
#oneLogement .fc-today-button {
  display: none;
}
#oneLogement .fc-prev-button {
  background-color: #017C8E;
}
#oneLogement .fc-next-button {
  background-color: #01949C;
}
#oneLogement #locationOne #map {
  height: 400px;
}
#oneLogement #locationOne #map .leaflet-top,
#oneLogement #locationOne #map .leaflet-bottom {
  z-index: 500;
}

@media screen and (min-width: 400px) {
  #oneLogement #firstPartOne #window-slider {
    height: 250px;
  }
}
@media screen and (min-width: 500px) {
  #oneLogement #firstPartOne #window-slider {
    height: 300px;
  }
}
@media screen and (min-width: 600px) {
  #oneLogement #firstPartOne #window-slider {
    height: 350px;
  }
}
@media screen and (min-width: 700px) {
  #oneLogement #firstPartOne #window-slider {
    height: 400px;
  }
}
/*oneLogement tablet*/
@media screen and (min-width: 800px) {
  #onelogement {
    margin: unset;
    margin-left: 5%;
    width: 90%;
  }
  #onelogement #firstPartOne {
    width: 60%;
    margin: unset;
  }
  #onelogement #firstPartOne #boxGallery {
    display: block;
    width: 100%;
    height: 800px;
    position: relative;
  }
  #onelogement #firstPartOne #boxGallery #bigImg img {
    width: 100%;
    position: absolute;
    top: 0;
    height: 500px;
  }
  #onelogement #firstPartOne #boxGallery #scrollbar {
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 200px;
    overflow-x: scroll;
    white-space: nowrap;
    position: absolute;
    top: 550px;
  }
  #onelogement #firstPartOne #boxGallery #scrollbar img {
    width: 250px;
    margin-right: 20px;
    display: inline-block;
  }
  #onelogement #firstPartOne #slider {
    display: none;
  }
  #onelogement #firstPartOne #cancel {
    width: 260px;
  }
  #onelogement #firstPartOne .convenience {
    margin: 0 0 20px 5%;
  }
  #onelogement #firstPartOne .convenience p {
    margin: 0 20px;
  }
  #onelogement #secondPartOne {
    bottom: unset;
    top: 150px;
    right: 5%;
    width: 30%;
    border: 2px solid #017C8E;
    height: 200px;
  }
}
/*footer phone*/
footer {
  margin: 100px 0 248px 0;
}
footer #firstContainerFooter,
footer #secondContainerFooter {
  height: 200px;
}
footer #firstContainerFooter {
  background-color: #017C8E;
  padding-top: 30px;
}
footer #firstContainerFooter button {
  width: 80%;
  display: block;
  margin: 0 auto 25px auto;
  color: #fff;
  font-family: "Righteous", cursive;
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #017C8E;
  border: 1px solid #fff;
  border-radius: 25px;
  height: 50px;
}
footer #firstContainerFooter div {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  margin: 0 auto;
}
footer #firstContainerFooter div a img {
  width: 30px;
}
footer #secondContainerFooter {
  background-color: #01949C;
  display: flex;
  flex-direction: column;
}
footer #secondContainerFooter a {
  text-align: center;
  padding-top: 30px;
  font-family: "Righteous", cursive;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}

/*footer desktop */
@media screen and (min-width: 800px) {
  footer {
    display: flex;
    margin-bottom: unset;
  }
  footer #firstContainerFooter,
  footer #secondContainerFooter {
    width: 50%;
  }
}
/*legal Notices phone */
#legalNotices {
  width: 90%;
  margin: 0 auto;
}
#legalNotices h1 {
  text-align: center;
  margin: 50px 0;
  font-family: "Righteous", cursive;
  font-size: 1.5rem;
  font-weight: 700;
  color: #017C8E;
}
#legalNotices h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: #017C8E;
  margin: 20px 0;
}
#legalNotices p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: justify;
}
#legalNotices p span {
  font-weight: 700;
  display: block;
  margin-bottom: 10px;
}
#legalNotices ul li {
  list-style-type: initial;
  width: 80%;
  margin: 10px 0 10px 10%;
}
#legalNotices ol {
  margin: 25px 0;
  background-color: rgba(1, 148, 156, 0.1);
}
#legalNotices li {
  margin: 10px 0 10px 10%;
  list-style-type: decimal;
}

/*resultsearch phone*/
.marker.leaflet-popup {
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
.marker.leaflet-popup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #fff;
}
.marker.leaflet-popup .leaflet-popup-content-wrapper {
  background: transparent;
  color: inherit;
  box-shadow: none;
  text-align: inherit;
}
.marker.leaflet-popup .leaflet-popup-tip-container {
  display: none;
}

.marker .leaflet-popup-content {
  text-align: inherit;
  color: inherit;
  margin: 0;
}

.marker.is-active {
  background-color: #017C8E;
  color: #fff;
  z-index: 300;
}
.marker.is-active::after {
  border-top-color: #017C8E;
}

.marker:hover {
  background-color: #017C8E;
  color: #fff;
  z-index: 300;
}
.marker:hover::after {
  border-top-color: #017C8E;
}

.marker,
.marker.is-expended {
  z-index: 301;
}
.marker .leaflet-popup-content-wrapper .leaflet-popup-content,
.marker.is-expended .leaflet-popup-content-wrapper .leaflet-popup-content {
  text-align: left;
}
.marker .leaflet-popup-content-wrapper .leaflet-popup-content img,
.marker.is-expended .leaflet-popup-content-wrapper .leaflet-popup-content img {
  width: 220px;
  height: 200px;
}
.marker .leaflet-popup-content-wrapper .leaflet-popup-content h4,
.marker .leaflet-popup-content-wrapper .leaflet-popup-content p,
.marker.is-expended .leaflet-popup-content-wrapper .leaflet-popup-content h4,
.marker.is-expended .leaflet-popup-content-wrapper .leaflet-popup-content p {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

#containerResultSearch .map {
  height: 350px;
}

#resultResearch #resumSearchPhone {
  width: 90%;
  margin: 50px auto;
}
#resultResearch #resumSearchPhone ul li {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
}
#resultResearch #resumSearchPhone ul li span {
  font-weight: 100;
}
#resultResearch .searchBoxDesktop {
  position: inherit;
}
#resultResearch #filter {
  margin: 0 0 50px 5%;
}
#resultResearch #formFilter {
  width: 230px;
  margin: 0 auto;
  border: 1px solid #017C8E;
  z-index: 1;
  display: none;
}
#resultResearch #formFilter .convenience input {
  margin-left: 5px;
}
#resultResearch #formFilter .convenience img {
  padding: 0 10px;
  width: 45px;
}
#resultResearch #formFilter.formFilterActive {
  display: block;
}
#resultResearch .listResult .item {
  width: 240px;
  margin: 50px auto;
  cursor: pointer;
  transition: box-shadow 0.3s;
  padding: 0 20px;
}
#resultResearch .listResult .item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#resultResearch .listResult .item img {
  width: 100%;
  height: 200px;
  display: block;
}
#resultResearch .listResult .item h4,
#resultResearch .listResult .item p {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}
#resultResearch .listResult .item h4 span,
#resultResearch .listResult .item p span {
  font-weight: 700;
}

/*resultsearch tablet*/
@media screen and (min-width: 800px) {
  #resumSearchPhone {
    display: none;
  }
  #resultresearch .listResult {
    margin: 0 auto;
  }
  #resultresearch .listResult .item {
    margin: unset;
  }
  #resultresearch #containerResultSearch {
    display: grid;
    grid-template-columns: 4fr 7fr;
    position: relative;
  }
  #resultresearch #containerResultSearch .map {
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
  }
  #resultresearch #containerResultSearch .listResult {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
}
/* section formAddLogement phone*/
#formAddLogement fieldset {
  width: 90%;
  margin: 50px auto 0 auto;
  border: 1px solid #017C8E;
}
#formAddLogement fieldset legend {
  color: #017C8E;
  font-family: "Righteous", cursive;
}
#formAddLogement fieldset form {
  width: 90%;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
#formAddLogement fieldset form #textField {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 1000px;
}
#formAddLogement fieldset form #textField input[type=text],
#formAddLogement fieldset form #textField input[type=number],
#formAddLogement fieldset form #textField select {
  padding: 10px 0;
}
#formAddLogement fieldset form #checkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
}
#formAddLogement fieldset form #checkbox div {
  display: flex;
  justify-content: space-between;
}
#formAddLogement fieldset form input[type=submit] {
  width: 100%;
  padding: 20px 0;
  background: linear-gradient(90deg, rgb(1, 124, 142) 50%, rgb(1, 148, 156) 50%);
  color: #fff;
  font-family: "Righteous", cursive;
  font-size: 1.2rem;
  margin: 20px 0;
  border-radius: 5px;
}

/* section formAddLogement phone*/
@media screen and (min-width: 800px) {
  #formAddLogement fieldset legend {
    font-size: 1.2rem;
  }
  #formAddLogement fieldset form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #formAddLogement fieldset form #textField,
  #formAddLogement fieldset form #checkbox {
    width: 45%;
  }
  #formAddLogement fieldset form #checkbox {
    height: 1000px;
  }
}
/*erreur 404*/
* {
  box-sizing: border-box;
}

#notfound {
  position: relative;
  height: 100vh;
}
#notfound .notfound-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-size: cover;
}
#notfound .notfound-bg:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
  text-align: center;
  padding: 30px;
  line-height: 1.4;
}
#notfound .notfound:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.7) inset;
  z-index: -1;
}
#notfound .notfound .notfound-404 {
  position: relative;
  height: 200px;
}
#notfound .notfound .notfound-404 h1 {
  font-family: "Passion One", cursive;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 14rem;
  margin: 0px;
  color: #222225;
  text-transform: uppercase;
}
#notfound .notfound h2 {
  font-family: "Muli", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #222225;
  margin-top: 26px;
  margin-bottom: 20px;
}
#notfound .notfound a {
  font-family: "Muli", sans-serif;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  background-color: #017C8E;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 10px;
}
#notfound .notfound a:hover {
  border: 1px solid #017C8E;
  background-color: #fff;
  color: #017C8E;
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 146px;
  }
  .notfound .notfound-404 h1 {
    font-size: 146px;
  }
  .notfound h2 {
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */