$roboto: 'Roboto', sans-serif;
$fontTitle : 'Righteous',
cursive;
$blueDark : #017C8E;
$bluelight: #01949C;
$grey: #6a6f8c;
$inherit: inherit;
$white: #fff;
$color_4: #aaa;
$border-blue: #1161ee;
// *-*-*-SCSS FAQ*-*-*-
$primary-font: Arial, sans-serif;
$title-font-size: 1.8rem;
$question-font-size: 1.1rem;
$answer-font-size: 1rem;
$text-color: #333;

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

.row-limit-size {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    width: 90%;
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(1, 124, 142, 1) 50%, rgba(1, 148, 156, 1) 50%);
    display: block;
    color: $white;
    padding: 15px 0;
    font-size: 1.2rem;
    font-family: $fontTitle;
}

/*header phone*/

header {
    #logo img {
        width: 200px;
        display: block;
        margin: 5px auto;
    }

    #burgerDesktop {
        display: none;
    }

    #burgerPhone {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 900;

        #menuBurger,
        #searchPhone {
            width: 50%;
            height: 50px;
            position: relative;

            .iconMenuPhone {
                width: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        #menuBurger {
            background-color: $blueDark;
            border-top: 1px solid $white;

            #navConnectPhone,
            #navDisconnectPhone {
                display: none;
            }

            #navDisconnectPhone.logout,
            #navConnectPhone.loginActive {
                display: block;
                position: absolute;
                bottom: 50px;
                width: 100%;

                ul {
                    li {
                        width: 100%;
                        text-align: center;
                        padding: 20px 0;
                        background-color: $blueDark;
                        border: 1px solid #fff;


                        a {
                            color: #fff;
                            font-family: $fontTitle;
                        }
                    }
                }


            }
        }

        #searchPhone {
            background-color: $bluelight;
            border-top: 1px solid $white;
        }

    }




    .clearfix {
        &:after {
            content: '';
            display: table;
            clear: both;
            display: block;
        }

        &:before {
            content: '';
            display: table;
        }
    }

    a {
        color: $inherit;
        text-decoration: none;
    }

    #searchBoxPhone {
        background-image: url(../img/heroMontainPhone.jpg);
        background-size: cover;
        margin: auto;
        max-width: 700px;
        width: 90%;
        min-height: 600px;
        display: none;

        form {
            width: 100%;
            padding-top: 25px;

            .searchFormBox {
                width: 200px;
                background-color: #fff;
                height: 75px;
                margin: 25px auto;
                border: 1px solid $blueDark;
                position: relative;
                padding-top: 10px;

                label {
                    font-size: 1rem;
                    font-family: $fontTitle;
                    font-weight: 700;
                    padding: 10px 0 0 10px;
                }

                input {
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    width: 80%;
                    margin: 0 auto;
                    border: none;
                    border-bottom: 1px solid $blueDark;
                }


            }

            #buttonSearch {
                width: 150px;
                height: 75px;
                margin: 25px auto;

                input {
                    width: 100%;
                    height: 100%;
                    position: inherit;
                    margin: unset;
                    color: $white;
                    font-family: $fontTitle;
                    font-size: 1.5rem;
                    background: linear-gradient(90deg, rgba(1, 124, 142, 1) 50%, rgba(1, 148, 156, 1) 50%);

                }
            }
        }
    }

    #searchBoxPhone.formSearchActive {
        display: block;
        position: fixed;
        bottom: 50px;
        z-index: 900;
        width: 100%;
    }

    #loginBox {
        width: 100%;
        margin: auto;
        max-width: 525px;
        min-height: 850px;
        display: none;
        position: relative;
        background: url(../img/logement/thumbnail_1_appartementMarseille1.1.webp);
        background-size: cover;
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);

        #close {
            position: absolute;
            font-size: 1.5rem;
            font-weight: 700;
            font-family: $fontTitle;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    }

    #loginBox.formActive {
        display: block;

        position: fixed;
        top: 0;
        z-index: 100;
    }

    .loginBoxHeader {
        width: 100%;
        height: 100%;

        padding: 50px 10px 50px 10px;
        // background: rgba(40, 57, 101, .5);

        .sign-in-form {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            transition: all .4s linear;


        }

        .sign-up-form {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            transition: all .4s linear;

        }

        .sign-in {
            display: none;

            &:checked {
                + {
                    .tab {
                        color: $white;
                        border-color: $bluelight;

                        + {
                            .sign-up {
                                + {
                                    .tab {


                                        + {
                                            .login-form {
                                                .sign-in-form {
                                                    transform: rotate(0);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .sign-up {
            display: none;

            &:checked {
                + {
                    .tab {
                        color: $white;
                        border-color: $bluelight;

                        + {
                            .login-form {
                                .sign-up-form {
                                    transform: rotate(0);
                                }
                            }
                        }
                    }
                }
            }
        }

        .tab {
            text-transform: uppercase;
            font-family: $fontTitle;
            font-weight: 700;
            font-size: 1rem;
            margin-right: 15px;
            padding-bottom: 5px;
            margin: 0 15px 50px 15px;
            display: inline-block;
            border-bottom: 2px solid transparent;
            color: black;
        }
    }

    .login-form {
        width: 80%;
        margin: 0 auto;

        .group {
            .check {
                display: none;

                &:checked {
                    + {
                        label {
                            color: $white;

                            .icon {
                                background: #1161ee;

                                &:before {
                                    transform: scale(1) rotate(45deg);
                                }

                                &:after {
                                    transform: scale(1) rotate(-45deg);
                                }
                            }
                        }
                    }
                }
            }

            .label {
                text-transform: uppercase;
                width: 100%;
                color: $white;
                display: block;
                margin-left: 10%;
                font-size: 12px;
            }

            .button {
                text-transform: uppercase;
                width: 100%;
                color: $white;
                display: block;
                border: none;
                padding: 15px 0px;
                margin-top: 20px;
                border-radius: 25px;
                background: $blueDark;
            }

            margin-bottom: 15px;

            .input {
                width: 100%;
                color: #000;
                display: block;
                border: none;
                padding: 15px 20px;
                border-radius: 25px;
                background: rgba(255, 255, 255, 1);
            }

            label {
                .icon {
                    width: 15px;
                    height: 15px;
                    border-radius: 2px;
                    position: relative;
                    display: inline-block;
                    background: rgba(255, 255, 255, .5);

                    &:before {
                        content: '';
                        width: 10px;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        transition: all .2s ease-in-out 0s;
                        left: 3px;
                        width: 5px;
                        bottom: 6px;
                        transform: scale(0) rotate(0);
                    }

                    &:after {
                        content: '';
                        width: 10px;
                        height: 2px;
                        background: #fff;
                        position: absolute;
                        transition: all .2s ease-in-out 0s;
                        top: 6px;
                        right: 0;
                        transform: scale(0) rotate(0);
                    }
                }
            }
        }

        min-height: 345px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;
    }

}

/*header tablet*/
@media screen and (min-width:800px) {
    header {
        display: flex;
        justify-content: center;
        position: relative;

        #burgerPhone {
            display: none;
        }

        #burgerDesktop {
            display: block;
            position: absolute;
            top: 30%;
            right: 20px;

            img {
                width: 75px;
            }

            #navConnect,
            #navDisconnect {
                display: none;
            }

            #navDisconnect.logoutDesktop,
            #navConnect.loginDesktopActive {
                display: block;

                ul {
                    position: relative;
                    z-index: 999;

                    li {
                        width: 200px;
                        text-align: center;
                        padding: 20px 0;
                        background-color: $blueDark;

                        &:hover {
                            color: $blueDark;
                            background-color: $white;
                        }





                        a {
                            color: #fff;
                            font-family: $fontTitle;
                            padding: 10px;

                            &:hover {
                                color: $blueDark;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*hero phone*/
#hero {
    position: relative;

    figure img {
        width: 100%;
        max-height: 600px;
    }

    h1 {
        position: absolute;
        color: $white;
        font-family: $fontTitle;
        white-space: nowrap;
        font-size: 1.2rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 100;

    }


}

.searchBoxDesktop {
    display: none;
}

/*hero tablet*/

@media screen and (min-width:500px) {
    #hero h1 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:800px) {
    #hero {
        h1 {
            font-size: 2rem;
        }

    }

    .searchBoxDesktop {
        display: block;
        position: absolute;
        top: 60%;
        margin: auto;
        width: 100%;


        .searchformDesktop {
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
            padding-top: 25px;
            display: flex;
            justify-content: space-evenly;

            .searchFormBox {
                width: 150px;
                background-color: #fff;
                height: 75px;
                margin: 25px auto;
                border: 1px solid $blueDark;
                position: relative;
                padding-top: 10px;
                border-radius: 5px;

                label {
                    font-size: 1rem;
                    font-family: $fontTitle;
                    font-weight: 700;
                    padding: 10px 0 0 10px;
                }

                input {
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    width: 90%;
                    height: 30px;
                    margin: 0 auto;
                    border: none;
                    border-bottom: 1px solid $blueDark;
                    font-size: 1.1rem;

                }


            }

            #buttonSearch {
                width: 150px;
                height: 75px;
                margin: 25px auto;

                input {
                    width: 100%;
                    height: 100%;
                    position: inherit;
                    margin: unset;
                    color: $white;
                    font-family: $fontTitle;
                    font-size: 1.5rem;
                    background: linear-gradient(90deg, rgba(1, 124, 142, 1) 50%, rgba(1, 148, 156, 1) 50%);
                    border-radius: 5px;

                }
            }
        }
    }
}

@media screen and (min-width:1200px) {
    #hero h1 {
        font-size: 2.5rem;
    }
}

/*section destination phone*/

#destination {
    .destinationContainer {
        .articleDestination {
            display: flex;
            margin: 25px;

            img {
                width: 30px;
            }

            h2 {
                padding: 10px 10px;
                font-size: 1rem;
                font-family: $roboto;
            }
        }

        .imgDestination {
            div {
                position: relative;

                a {
                    img {
                        border-radius: 5px;
                        width: 250px;
                        height: 208px;
                        margin: 25px auto;
                        display: block;

                    }

                }

                h4 {
                    position: absolute;
                    white-space: nowrap;
                    bottom: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                    color: #000;
                    font-family: $fontTitle;
                    font-size: 1.2rem;
                    -webkit-text-stroke: 1px $white;
                    text-transform: uppercase;


                }
            }
        }
    }
}

/* section destination tablet desketop*/

@media screen and (min-width:600px) {
    #destination {
        .destinationContainer {

            .imgDestination {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 80%;
                margin: 0 auto;

                div {
                    h4 {
                        bottom: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:750px) {
    #destination {
        .destinationContainer {

            .imgDestination {

                width: 70%;

            }
        }
    }
}

@media screen and (min-width:850px) {
    #destination {
        .destinationContainer {

            .imgDestination {

                width: 60%;

            }
        }
    }
}

@media screen and (min-width:980px) {
    #destination {
        .destinationContainer {

            .imgDestination {

                width: 80%;

            }
        }
    }
}

@media screen and (min-width:980px) {
    #destination {
        .destinationContainer {

            .imgDestination {

                width: 90%;

            }
        }
    }
}

/*oneLogements phone*/
#oneLogement {
    padding-top: 50px;


    #firstPartOne {
        width: 90%;
        margin: 0 auto;

        #window-slider {
            width: 90%;
            height: 220px;
            overflow: hidden;
            margin: 0 auto;
            margin-top: 50px;
            display: block;

            #list-slide .slide img {
                width: 100%;
            }


        }

        #boxGallery {
            display: none;
        }

        h4,
        p {
            width: 90%;
            display: block;
            margin: 10px auto;
            font-family: $roboto;
        }

        #cancel {
            display: flex;
            justify-content: space-between;
            margin: 20px 5%;

            img {
                width: 25px;
                height: 25px;
            }

            p {
                width: 70%;
            }
        }

        #about {
            p {
                text-align: justify;
            }
        }

        #boxFilter {
            margin: 50px 0;
        }

        .convenience {
            display: flex;

            img {
                width: 25px;
                height: 25px;
            }

            p {
                width: 70%;
            }

        }

        a {
            margin: 50px auto;
            text-align: center;
        }

    }

    #secondPartOne {
        width: 100%;
        position: fixed;
        bottom: 50px;
        background-color: $white;
        z-index: 900;
        border-top: 1px solid $blueDark;

        h4 {
            font-size: 1.2rem;
        }

        h4,
        p {
            margin: 10px 5%;
            font-family: $roboto;
        }

        input[type=submit] {

            margin: 25px auto;


        }
    }

    .fc {
        font-size: 0.6rem;
        font-family: $roboto;
    }

    .fc-button-group {
        width: 50px;

    }

    .fc-today-button {
        display: none;
    }

    .fc-prev-button {
        background-color: $blueDark;
    }

    .fc-next-button {
        background-color: $bluelight;
    }

    #locationOne {
        #map {
            height: 400px;

            .leaflet-top,
            .leaflet-bottom {
                z-index: 500;
            }
        }
    }
}

@media screen and (min-width:400px) {
    #oneLogement #firstPartOne #window-slider {
        height: 250px;
    }

}

@media screen and (min-width:500px) {
    #oneLogement #firstPartOne #window-slider {
        height: 300px;
    }

}

@media screen and (min-width:600px) {
    #oneLogement #firstPartOne #window-slider {
        height: 350px;
    }

}

@media screen and (min-width:700px) {
    #oneLogement #firstPartOne #window-slider {
        height: 400px;
    }

}

/*oneLogement tablet*/
@media screen and (min-width:800px) {
    #onelogement {
        margin: unset;
        margin-left: 5%;
        width: 90%;

        #firstPartOne {
            width: 60%;
            margin: unset;

            #boxGallery {
                display: block;
                width: 100%;
                height: 800px;
                position: relative;

                #bigImg img {
                    width: 100%;
                    position: absolute;
                    top: 0;
                    height: 500px;
                }

                #scrollbar {
                    display: flex;
                    width: 100%;
                    overflow: hidden;
                    height: 200px;
                    overflow-x: scroll;
                    white-space: nowrap;
                    position: absolute;
                    top: 550px;

                    img {
                        width: 250px;

                        margin-right: 20px;
                        display: inline-block;
                    }
                }
            }

            #slider {
                display: none;
            }


            #cancel {
                width: 260px;
            }



            .convenience {
                margin: 0 0 20px 5%;

                p {
                    margin: 0 20px;
                }
            }

        }

        #secondPartOne {
            bottom: unset;
            top: 150px;
            right: 5%;
            width: 30%;
            border: 2px solid $blueDark;
            height: 200px;

        }
    }
}


/*footer phone*/

footer {
    margin: 100px 0 50px 0;

    #firstContainerFooter,
    #secondContainerFooter {
        height: 200px;
    }

    #firstContainerFooter {
        background-color: $blueDark;
        padding-top: 30px;

        #buttonContact {
            width: 80%;
            display: block;
            margin: 0 auto 25px auto;
            color: $white;
            font-family: $fontTitle;
            font-size: 1.2rem;
            font-weight: 500;
            background-color: $blueDark;
            border: 1px solid $white;
            border-radius: 25px;
            height: 50px;
            text-align: center;
            padding-top: 10px;
        }

        div {
            display: flex;
            width: 80%;
            justify-content: space-evenly;
            margin: 0 auto;

            a img {
                width: 30px;
            }

        }


    }

    #secondContainerFooter {
        background-color: $bluelight;
        display: flex;
        flex-direction: column;

        a {
            text-align: center;
            padding-top: 30px;
            font-family: $fontTitle;
            color: $white;
            font-size: 1.2rem;
            font-weight: 500
        }
    }
}



/*footer desktop */

@media screen and (min-width:800px) {
    footer {
        display: flex;
        margin-bottom: unset;

        #firstContainerFooter,
        #secondContainerFooter {
            width: 50%;
        }
    }
}

/*legal Notices phone */

#legalNotices {
    width: 90%;
    margin: 0 auto;

    h1 {
        text-align: center;
        margin: 50px 0;
        font-family: $fontTitle;
        font-size: 1.5rem;
        font-weight: 700;
        color: $blueDark;
    }

    h2 {
        font-family: $roboto;
        font-size: 1.2rem;
        font-weight: 700;
        color: $blueDark;
        margin: 20px 0;

    }

    p {
        font-family: $roboto;
        font-size: 1rem;
        text-align: justify;

        span {

            font-weight: 700;
            display: block;
            margin-bottom: 10px;
        }

    }

    ul li {
        list-style-type: initial;
        width: 80%;
        margin: 10px 0 10px 10%;
    }

    ol {
        margin: 25px 0;
        background-color: rgb(1, 148, 156, .1);

    }


    li {
        margin: 10px 0 10px 10%;
        list-style-type: decimal;

    }
}


/*resultsearch phone*/

.marker.leaflet-popup {
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 10px;
    font-family: $roboto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    background-color: $white;

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $white;
    }

    .leaflet-popup-content-wrapper {
        background: transparent;
        color: inherit;
        box-shadow: none;
        text-align: inherit;
    }

    .leaflet-popup-tip-container {
        display: none;
    }

}



.marker .leaflet-popup-content {
    text-align: inherit;
    color: inherit;
    margin: 0;
}

.marker.is-active {
    background-color: $blueDark;
    color: $white;
    z-index: 300;

    &::after {
        border-top-color: $blueDark;
    }
}

.marker:hover {
    background-color: $blueDark;
    color: $white;
    z-index: 300;

    &::after {
        border-top-color: $blueDark;
    }
}

.marker,
.marker.is-expended {
    z-index: 301;

    .leaflet-popup-content-wrapper .leaflet-popup-content {
        text-align: left;

        img {
            width: 220px;
            height: 200px;
        }

        h4,
        p {
            font-family: $roboto;
            font-size: 0.8rem;
        }
        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
         }

    }
}

#containerResultSearch {
    .map {
        height: 350px;
    }
}

#resultResearch {



    #resumSearchPhone {
        width: 90%;
        margin: 50px auto;

        ul li {
            margin-bottom: 20px;
            font-family: $roboto;
            font-size: 1rem;
            font-weight: 700;

            span {
                font-weight: 100;
            }
        }

    }

    .searchBoxDesktop {
        position: inherit;
    }

    #filter {
        margin: 0 0 50px 5%;

    }

    #formFilter {

        width: 230px;
        margin: 0 auto 50px auto;

        z-index: 1;
        display: none;

        #convenience {
            border: 1px solid $blueDark;

            .convenience {
                input {
                    margin-left: 5px;
                }

                img {
                    padding: 0 10px;
                    width: 45px;
                }
            }

        }
        #applyFilters> input{
            width: 100%;
            margin-top: 10px;
        }

    }

    #formFilter.formFilterActive {
        display: block;
    }


    .listResult {
        .item {
            width: 240px;
            margin: 50px auto;
            cursor: pointer;
            transition: box-shadow .3s;
            padding: 0 20px;

            &:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, .1);
                background-color: $white;
            }

            img {
                width: 100%;
                height: 200px;
                display: block;

            }

            h4,
            p {
                font-family: $roboto;
                font-size: 0.8rem;

            }

            h4,
            p {
                span {
                    font-weight: 700;
                }
            }
        }
    }



}

/*resultsearch tablet*/
@media screen and (min-width:800px) {

    #resumSearchPhone {
        display: none;
    }

    #resultresearch {
        #formFilter {
            max-width: 1200px;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #convenience {
                width: 90%;
                height: 100px;
                display: flex;
                overflow-x: scroll;

                .convenience {
                    display: flex;
                    align-items: center;
                    margin-right: 20px;

                    img {
                        width: 40pxpx;
                        height: 25px;
                    }

                    label {
                        font-size: 1.1rem;
                    }

                }
            }
            #applyFilters> input{
                width: 100px;
                margin: 0 0 0 20px;
            }

        }

        #formFilter.formFilterActive {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .listResult {
            margin: 0 auto;

            .item {
                margin: unset;

            }
        }

        #containerResultSearch {
            display: grid;
            grid-template-columns: 4fr 7fr;
            position: relative;

            .map {


                position: sticky;
                top: 0;
                right: 0;
                left: 0;
                height: 100vh;

            }

            .listResult {


                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 30px;


            }
        }
    }
}

/* section formAddLogement phone*/

#formAddLogement {
    fieldset {
        width: 90%;
        margin: 50px auto 0 auto;
        border: 1px solid $blueDark;

        legend {
            color: $blueDark;
            font-family: $fontTitle;
        }

        form {
            width: 90%;
            margin: 0 auto;
            font-family: $roboto;

            #textField {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 1000px;

                input[type=text],
                input[type=number],
                select {
                    padding: 10px 0;
                }
            }

            #checkbox {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 500px;

                div {
                    display: flex;
                    justify-content: space-between;
                }
            }

            input[type=submit] {
                width: 100%;
                padding: 20px 0;
                background: linear-gradient(90deg, rgba(1, 124, 142, 1) 50%, rgba(1, 148, 156, 1) 50%);
                color: $white;
                font-family: $fontTitle;
                font-size: 1.2rem;
                margin: 20px 0;
                border-radius: 5px;
            }
        }
    }
}

/* section formAddLogement phone*/

@media screen and (min-width: 800px) {
    #formAddLogement {
        fieldset {
            legend {
                font-size: 1.2rem;
            }

            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                #textField,
                #checkbox {
                    width: 45%;
                }

                #checkbox {

                    height: 1000px;
                }

            }

        }
    }
}

/*erreur 404*/
$color_1: #222225;
$color_2: #fff;
$font-family_1: 'Passion One', cursive;
$font-family_2: 'Muli', sans-serif;
$background-color_1: rgba(0, 0, 0, 0.25);
$background-color_2: rgba(255, 255, 255, 0.7);
$background-color_3: transparent;
$background-color_4: #222225;


* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#notfound {
    position: relative;
    height: 100vh;

    .notfound-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../img/bg.jpg');
        background-size: cover;

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $background-color_1;
        }
    }

    .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 600px;
        width: 100%;
        text-align: center;
        padding: 30px;
        line-height: 1.4;

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 100%;
            height: 600px;
            background-color: $background-color_2;
            -webkit-box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.7) inset;
            box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0.7) inset;
            z-index: -1;
        }


        .notfound-404 {
            position: relative;
            height: 200px;

            h1 {
                font-family: $font-family_1;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                font-size: 14rem;
                margin: 0px;
                color: $color_1;
                text-transform: uppercase;
            }
        }

        h2 {
            font-family: $font-family_2;
            font-size: 1.5rem;
            font-weight: 400;
            text-transform: uppercase;
            color: $color_1;
            margin-top: 26px;
            margin-bottom: 20px;
        }

        a {
            font-family: $font-family_2;
            display: inline-block;
            font-weight: 400;
            text-decoration: none;
            background-color: $blueDark;
            color: $color_2;
            text-transform: uppercase;
            font-size: 0.9rem;
            padding: 10px;

            &:hover {
                border: 1px solid $blueDark;
                background-color: $color_2;
                color: $blueDark;
            }
        }
    }
}



@media only screen and (max-width: 480px) {
    .notfound {
        .notfound-404 {
            height: 146px;

            h1 {
                font-size: 146px;
            }
        }

        h2 {
            font-size: 22px;
        }
    }
}

// *-*-*-*FAQ*-*-*-*
#questions {
    font-family: $primary-font;
    text-align: center;
    margin: 0;
    padding: 0;


    h1 {
        font-size: $title-font-size;
        font-weight: bold;
        margin-top: 50px // margin-bottom: 20px;
    }

    .question {
        font-size: $question-font-size;
        font-weight: 700;
        margin-top: 30px;

    }

    .reponse {
        font-size: $answer-font-size;
        font-weight: lighter;
        margin-top: 10px;
    }

    .text-color {
        color: $text-color;
    }


}

// *-*-*-*-*-*-*-*-* FORMULAIRE CONTACTER L HOTE *-*-*-*-*-*-*-*-*

input,
textarea,
select,
button {
    color: black;
    font-size: 1.2rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

:focus {
    outline: none;
}

.contactForm {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;

    .formContact {
        max-width: 758px;
        margin: auto;
        background-color: rgba(255, 255, 255, 0.7);
        ;
        border: 8px solid #5D435D;
        padding: 77px 99px 87px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);


        textarea {
            resize: none;
        }

        h3 {
            text-transform: uppercase;
            font-size: 2.5rem;
            color: #BB92A6;
            text-align: center;
            margin-bottom: 12px;
        }

        p {
            text-align: center;
            color: #BB92A6;
            padding: 0 10px;
            font-weight: 500;
            margin-bottom: 55px;
            line-height: 1.8;
        }

        .form-group {
            position: relative;
            display: block;
            margin-bottom: 48px;

            span {
                font-size: 1.2rem;
                color: #BB92A6;
                position: absolute;
                top: 11px;
                transition: all .2s ease;
                transform-origin: 0 0;
                cursor: text;
            }

            span.border {
                height: 2px;
                display: block;
                position: absolute;
                width: 100%;
                left: 0;
                top: 41px;
                transform: scaleX(0);
                transition: all .15s ease;
                background: #5D435D;
            }
        }

        #send {
            border: none;
            width: 160px;
            height: 50px;
            font-weight: 600;
            border: none;
            border-radius: 10px;
            margin: auto;
            margin-top: 60px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            background: #A68797;
            text-transform: uppercase;

            &:hover {
                border-color: transparent;
                background-color: #5D435D;

            }
        }

        .form-control {
            border: none;
            border-bottom: 2px solid #5D435D;
            display: block;
            width: 100%;
            height: 43px;
            font-size: 15px;
            background: none;

            &:focus,
            &:valid {
                border-bottom: 2px solid black;

                &+span {
                    transform: translateY(-22px) scale(.8);

                    &+.border {
                        transform: scaleX(1);
                    }
                }
            }

            textarea.form-control {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}


// -*-*-*-MEDIAQUERIES*-*-*-
@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    h3 {
        font-size: 38px;
    }

    p {
        font-size: 14px;
        padding: 0;
    }

    .formContact {
        padding: 27px 20px 37px;
        border: none;
        box-shadow: none;

    }

    .contactForm {
        background-color: rgba(255, 255, 255, 0.7);
        border: 10px solid #0d99d7;
    }
}