




<form method="post" action='{{path('add')}}'>
    <label for="id_person">Person ID:</label>
    <input type="number" name="id_person" id="id_person" required>
    <br>
    
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required>
    <br>
    <label for="type">Type:</label>
    <input type="text" name="type" id="type" required>
    <br>
 
    <br>
    <label for="thumbnail">Thumbnail:</label>
    <input type="text" name="thumbnail" id="thumbnail" required>
    <br>
    <label for="surface">surface:</label>
    <input type="number" name="surface" id="type" required>
    <br>
    <label for="description">description</label>
    <input type="text" name="description" id="type" required>
    <br>
    <label for="address">adress</label>
    <input type="text" name="address" id="type" required>
    <br>
    <label for="city">city:</label>
    <input type="text" name="city" id="type" required>
    <br>
    <label for="price_by_night">price_by_night</label>
    <input type="number" name="price_by_night" id="type" required>
   
    <br>
    <label for="number_of_person">number_of_person</label>
    <input type="number" name="number_of_person" id="type" required>
   
    <br>

    <label for="number_of_beds">number_of_beds</label>
    <input type="number" name="number_of_beds" id="type" required>
   
    <br>
     <label for="parking">parking</label>
    <input type="checkbox" name="parking" id="type"  value="1" >
   
    <br>
     <label for="wifi">wifi</label>
    <input type="checkbox" name="wifi" id="type"  value="1" >
   
    <br>
     <label for="piscine">piscine</label>
    <input type="checkbox" name="piscine" id="type"  value="1" >
   
    <br>
     <label for="animals">animals</label>
    <input type="checkbox" name="animals" id="type"  value="1" >
   
    <br>
     <label for="kitchen">kitchen</label>
    <input type="checkbox" name="kitchen" id="type" value="1" >
   
    <br>
     <label for="garden">garden</label>
    <input type="checkbox" name="garden" id="type"  value="1" >
   
    <br>
     <label for="tv">tv</label>
    <input type="checkbox" name="tv" id="type"  value="1" >
   
    <br>
     <label for="climatisation">climatisation</label>
    <input type="checkbox" name="climatisation" id="type"  value="1" >
   
    <br>
     <label for="camera">camera</label>
    <input type="checkbox" name="camera" id="type"  value="1" >
   
    <br>
     <label for="home_textiles">home_textiles</label>
    <input type="checkbox" name="home_textiles" id="type" value="1" >
   
    <br>
     <label for="spa ">spa </label>
    <input type="checkbox" name="spa " id="type" value="1" >
   
    <br>

      <label for="jacuzzi ">jacuzzi </label>
    <input type="checkbox" name="jacuzzi " id="type"  value="1" >
   
    <br>
    <input type="submit" value="Add Logement">
</form>
