{% extends "template.html.twig" %}

{% block title %}
	FAQ
{% endblock %}


{% block content %}
	<section id="questions">
		<h1>FAQ - Locations saisonnières et locations en résidence sur HomeAway</h1>

		<div class="question">
			1.Comment puis-je rechercher des maisons et des appartements à louer sur HomeAway ?</div>

		<div class="reponse">
			Vous pouvez rechercher des locations en entrant vos critères tels que la destination, les dates de séjour et le nombre de personnes. Notre système vous présentera ensuite une liste d'options disponibles.

			<div class="question">
				2.Comment puis-je réserver une propriété sur HomeAway ?</div>

			<div class="reponse">
				Une fois que vous avez trouvé une propriété qui vous intéresse, vous pouvez soumettre une demande de réservation au propriétaire. Ils confirmeront la disponibilité et vous pourrez finaliser la réservation en effectuant le paiement requis.</div>

			<div class="question">
				3.Quels types de logements puis-je trouver sur HomeAway ?</div>

			<div class="reponse">
				Vous pouvez trouver une variété de logements, notamment des maisons spacieuses, des appartements modernes, des chalets pittoresques et plus encore, adaptés à différents besoins et budgets.</div>

			<div class="question">
				4.Comment puis-je contacter le propriétaire d'une propriété ?</div>
			<div class="reponse">
				Sur la page de chaque propriété, vous trouverez un bouton de contact qui vous permettra d'envoyer un message directement au propriétaire pour poser des questions spécifiques concernant la location.</div>

			<div class="question">
				5.Quelles sont les options de paiement disponibles pour la réservation ?</div>
			<div class="reponse">
				Les options de paiement varient en fonction du propriétaire, mais elles peuvent inclure les cartes de crédit, les virements bancaires ou les plateformes de paiement en ligne sécurisées.</div>
			<div class="question">
				6.Y a-t-il des frais supplémentaires en dehors du prix de la location ?</div>
			<div class="reponse">
				Certains propriétaires peuvent facturer des frais supplémentaires tels que des frais de nettoyage, des dépôts de garantie ou des frais de service. Assurez-vous de vérifier les détails avant de réserver.</div>
			<div class="question">
				7.Que faire en cas de problème pendant mon séjour ?</div>
			<div class="reponse">
				En cas de problème pendant votre séjour, veuillez contacter le propriétaire immédiatement. Si le problème persiste, notre équipe d'assistance est là pour vous aider à résoudre la situation.</div>
			<div class="question">
				8.Puis-je annuler ma réservation ?</div>
			<div class="reponse">
				Les politiques d'annulation varient en fonction du propriétaire et du type de location. Assurez-vous de lire attentivement les conditions d'annulation avant de réserver.</div>
			<div class="question">
				9.Comment puis-je laisser un avis sur une propriété après mon séjour ?</div>
			<div class="reponse">
				Après votre séjour, vous recevrez un e-mail vous invitant à laisser un avis sur la propriété et votre expérience. Votre avis aidera d'autres voyageurs à prendre des décisions éclairées.</div>
			<div class="question">
				10.Comment puis-je devenir hôte sur HomeAway et proposer ma propriété à la location ?</div>
			<div class="reponse">
				Si vous souhaitez devenir hôte, vous pouvez créer un compte sur notre plateforme et suivre les étapes pour ajouter votre propriété à la liste. Notre équipe vous guidera tout au long du processus.</div>

		</section>
	{% endblock %}
