<footer>
	<div id="firstContainerFooter">
		<button>Nous contacter</button>
		<div>
			<a href="www.instagram.fr"><img src="{{asset('/img/iconInsta.png')}}" alt="instagram"></a>
			<a href="www.facebook.fr"><img src="{{asset('/img/iconFb.png')}}" alt="facebook"></a>
			<a href="www.twitter.fr"><img src="{{asset('/img/iconTwitter.png')}}" alt="twitter"></a>
		</div>
	</div>
	<div id="secondContainerFooter">
		<a href="{{path('legalNotices')}}">Mentions légales</a>
		<a href="#">Conditions générales</a>
		<a href="#">Utilisation des cookie</a>
	</div>
</footer>
