{% extends "template.html.twig" %}

{% block title %}
	Formulaire de contact
{% endblock %}

{% block content %}
	<div class="contactForm">
		<div class="formContact">
			<form action="{{path('sendMail')}}" method="POST">
				<h3>Formulaire de contact</h3>

				<p>

					Votre satisfaction est notre priorité absolue. Que vous ayez des questions, des commentaires ou des préoccupations, nous sommes là pour vous aider. Veuillez remplir le formulaire ci-dessous avec autant de détails que possible, afin que nous puissions vous assister de la meilleure façon qui soit.<br><br>

					Nous nous engageons à répondre à toutes les demandes dans les plus brefs délais. Votre opinion est inestimable et nous permet d'améliorer continuellement notre service. Nous vous remercions d'avance pour votre collaboration.<br><br>

					L'équipe de HomeAway</p>

				<label class="form-group">
					<input type="text" name="name" class="form-control" required>
					<span>Votre nom</span>
					<span class="border"></span>
				</label>
				<label class="form-group">
					<input type="text" name="surname" class="form-control" required>
					<span>Votre prénom</span>
					<span class="border"></span>
				</label>

				<label class="form-group">
					<input type="text" name="mail" class="form-control" required>
					<span>Votre mail</span>
					<span class="border"></span>
				</label>

				<label class="form-group">
					<textarea name="message" class="form-control" required></textarea>
					<span>Votre Message</span>
					<span class="border"></span>
				</label>

				<input id="send" type="submit" name="submit" value="Envoyer">
			</form>
		</div>
	</div>
{% endblock %}
